In [1]:
library(tidyverse)
library(textclean)
library(readxl)

working_dir <- getwd()
setwd("../")
source("base/it-402-dc-data_initial_exploration-base.r")
setwd(working_dir)

rm(working_dir)

── Attaching packages ───────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.5     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.2     ✔ forcats 0.5.1

── Conflicts ──────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘scales’


The following object is masked from ‘package:purrr’:

    discard


The following object is masked from ‘package:readr’:

    col_factor

In [2]:
#rm(list = ls())

In [3]:
dbConn <- dbConnect(RSQLite::SQLite(), "../sta_it_402/data/sqa-data-db.sqlite")
dbConn

<SQLiteConnection>
  Path: /Users/aba-sah/OneDrive/work/programming/devt/r/work/sta/it-402-dc/sta_it_402/data/sqa-data-db.sqlite
  Extensions: TRUE

In [4]:
dbGetQuery(dbConn,
           "SELECT * FROM sqlite_master WHERE type = 'table' AND (name = 'centre_postcodes')")

  type  name             tbl_name         rootpage
1 table centre_postcodes centre_postcodes 169
  sql
1 CREATE TABLE "centre_postcodes" (\n  `Centre` TEXT,\n  `CentreName` TEXT,\n  `Postcode` TEXT,\n  `EducationAuthority` TEXT,\n  `GeoArea` TEXT,\n  `Country` TEXT\n)

In [5]:

## https://www.gov.scot/publications/school-level-summary-statistics/

## https://www.gov.scot/publications/scottish-government-urban-rural-classification-2016/pages/2/
## https://www.nrscotland.gov.uk/statistics-and-data/geography/our-products/scottish-postcode-directory/2022-1
## https://www.nrscotland.gov.uk/files/geography/Products/postcode-bkgrd-info.pdf
## https://statistics.gov.scot/slice?dataset=http%3A%2F%2Fstatistics.gov.scot%2Fdata%2Fattainment-for-all&http%3A%2F%2Fpurl.org%2Flinked-data%2Fcube%23measureType=http%3A%2F%2Fstatistics.gov.scot%2Fdef%2Fmeasure-properties%2Faverage-total-tariff-score&http%3A%2F%2Fstatistics.gov.scot%2Fdef%2Fdimension%2FattainmentDistribution=http%3A%2F%2Fstatistics.gov.scot%2Fdef%2Fconcept%2Fattainment-distribution%2Fhighest-20&http%3A%2F%2Fstatistics.gov.scot%2Fdef%2Fdimension%2Fcomparator=http%3A%2F%2Fstatistics.gov.scot%2Fdef%2Fconcept%2Fcomparator%2Freal-establishment
## https://www.opendata.nhs.scot/sl/dataset/geography-codes-and-labels/resource/967937c4-8d67-4f39-974f-fd58c4acfda53fold

### school results from Education Scotland and demographic data from gov.scot

In [6]:
datafiles_secondary_school_level_summary_statistics <-
    c("2019" = "data/secondary_school_level_summary_statistics_2019.csv",
      "2020" = "data/secondary_school_level_summary_statistics_2020.csv",
      "2021" = "data/secondary_school_level_summary_statistics_2021.csv"
      )


datafiles_cs_entries <- list.files("data/", pattern = "stat00007", full.names = TRUE, ignore.case = TRUE, recursive = TRUE)

sel_idx <- str_detect(datafiles_cs_entries, ".csv")
datafiles_cs_entries[sel_idx]

sel_idx2 <- str_detect(datafiles_cs_entries, "dictionary|csv")
datafiles_cs_entries[!sel_idx2]

[1] "data//stat00007_graded_v4.csv"   "data//stat00007_ungraded_v4.csv"
[3] "data//stat00007_unit_v4.csv"

[1] "data//stat00007.xlsx"

In [7]:
abbreviations <- c("FTE", "CS", "ASN", "ESL", "SIMD", "FSM", "P4-P7/S1-S6/SP")

In [8]:
centre_postcodes <- bind_rows(lapply(datafiles_cs_entries[sel_idx], read_csv, 
                                     col_select = matches("Centre|postcode|ea_name|geo_area"), 
                                     name_repair = str_to_title,
                                     trim_ws = TRUE
                                    )
                             ) %>%
    rename_with(snakecase::to_upper_camel_case) %>% 

    bind_rows(read_xlsx(datafiles_cs_entries[!sel_idx2], 
                            trim_ws = TRUE, 
                       ) %>% 
              select(matches("Centre|postcode|ea_name|geo_area")) %>%
              rename_with(snakecase::to_upper_camel_case)
             ) %>% 
    rename(EducationAuthority = snakecase::to_upper_camel_case("ea_name")) %>%
              

    bind_rows(read_csv("data/9414.csv", 
                       col_select = matches("Centre|postcode|(Education Authority)"), 
                       trim_ws = TRUE, 
                       skip = 1) %>%
              rename_with(snakecase::to_upper_camel_case)
             ) %>% 

    filter(rowSums(is.na(.)) != ncol(.)) %>%
    mutate(across(where(is.character), str_squish),
           across(CentreName, ~ str_replace_all(., "\\$", "")), # flags school closed
           
           across(GeoArea, ~ gsub("(\\w+), City of", "\\1 City", .)), 
           across(GeoArea, ~ gsub("(Shetland|Orkney)", "\\1 Islands", .)), 
           across(GeoArea, ~ if_else(str_detect(., "Edinburgh"), "City of Edinburgh", .)), 
           across(GeoArea, ~ if_else(str_detect(., "Clackmannan"), "Clackmannanshire", .)), 
           across(GeoArea, ~ if_else(str_detect(., "Western Isles"), "Na h-Eileanan Siar", .)), 
           across(GeoArea, ~ if_else(str_detect(., regex("Grant aided", ignore_case = TRUE)), str_to_title(.), .)), 
           across(GeoArea, ~ str_squish(str_remove(., "Council"))),
           across(GeoArea, ~ fct_relevel(., "Grant Aided", after = Inf)),
           
           across(matches("GeoArea|Authority"), ~ gsub("\\band\\b", "\\&", .)),
           across(EducationAuthority, ~ fct_relevel(., "Independent", after = Inf)),

           across(!where(is.factor), as.factor)
          ) %>%
    
    distinct() %>%
    arrange(Centre) %>%
    glimpse()

levels(centre_postcodes$EducationAuthority)
levels(centre_postcodes$GeoArea)

length(levels(centre_postcodes$EducationAuthority))
length(levels(centre_postcodes$GeoArea))

Rows: 7561 Columns: 5
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (4): Centre_name, Postcode, Ea_name, Geo_area
dbl (1): Centre

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 11443 Columns: 5
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (4): Centre_name, Postcode, Ea_name, Geo_area
dbl (1): Centre

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 95659 Columns: 5
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (4): Centre_name, Postcode, Ea_name, Geo_area
dbl (1): Centre

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 895 Columns: 4
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (3): Education Authority, Centre Name, Postcode
dbl (1): Centre

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Warning message:
“Unknown levels in `f`: Grant Aided”

Rows: 1,350
Columns: 5
$ Centre             <fct> 1000144, 1001930, 1002732, 1002732, 1002759, 100285…
$ CentreName         <fct> "Firpark Secondary School", "Buchanan High School",…
$ Postcode           <fct> ML1 2PR, ML5 2HT, G67 2UF, G67 2UF, KA13 6DE, DD3 8…
$ EducationAuthority <fct> North Lanarkshire Council Education Department, Nor…
$ GeoArea            <fct> North Lanarkshire, North Lanarkshire, North Lanarks…

 [1] "Aberdeen City Council Education Department"
 [2] "Aberdeenshire Council Education Department"
 [3] "Angus Council Education Department"
 [4] "Argyll & Bute Council Education Department"
 [5] "City of Glasgow Council Education Department"
 [6] "Clackmannanshire Council Education Department"
 [7] "Dumfries & Galloway Council Education Department"
 [8] "Dundee City Council Education Department"
 [9] "East Ayrshire Council Education Department"
[10] "East Dunbartonshire Council Education Department"
[11] "East Lothian Council Education Department"
[12] "East Renfrewshire Council Education Department"
[13] "Falkirk Council Education Department"
[14] "Fife Council Education Department"
[15] "Highland Council Education Department"
[16] "Inverclyde Council Education Department"
[17] "Midlothian Council Education Department"
[18] "North Ayrshire Council Education Department"
[19] "North Lanarkshire Council Education Department"
[20] "Orkney Islands Council Education Department"
[21] "Perth & Kinross Council Education Department"
[22] "Renfrewshire Council Education Department"
[23] "Scottish Borders Council Education Department"
[24] "Shetland Islands Council Education Department"
[25] "South Ayrshire Council Education Department"
[26] "South Lanarkshire Council Education Department"
[27] "Stirling Council Education Department"
[28] "The City of Edinburgh Council Education Department"
[29] "The Moray Council Education Department"
[30] "West Dunbartonshire Council Education Department"
[31] "West Lothian Council Education Department"
[32] "Western Isles Council Education Department"
[33] "Independent"

 [1] "Aberdeen City"       "Aberdeenshire"       "Angus"
 [4] "Argyll & Bute"       "City of Edinburgh"   "Clackmannanshire"
 [7] "Dumfries & Galloway" "Dundee City"         "East Ayrshire"
[10] "East Dunbartonshire" "East Lothian"        "East Renfrewshire"
[13] "England"             "Falkirk"             "Far East"
[16] "Fife"                "Glasgow City"        "Highland"
[19] "Inverclyde"          "Middle East"         "Midlothian"
[22] "Moray"               "Na h-Eileanan Siar"  "North Ayrshire"
[25] "North Lanarkshire"   "Orkney Islands"      "Other"
[28] "Perth & Kinross"     "Renfrewshire"        "Scottish Borders"
[31] "Shetland Islands"    "South Asia"          "South Ayrshire"
[34] "South Lanarkshire"   "Stirling"            "Wales"
[37] "West Dunbartonshire" "West Lothian"

[1] 33

[1] 38

In [9]:
#centre_postcodes %>%
#    group_by(across(matches("Centre"))) %>%
#    add_tally() %>%
#    filter(n > 1)

centre_postcodes <- centre_postcodes %>%
    filter(!is.na(GeoArea)) %>%

    full_join(centre_postcodes %>%
                  filter(is.na(GeoArea)) %>%
                  select(- GeoArea) %>%
                  rename(EducationAuthority_fill = EducationAuthority)
    ) %>%
    mutate(across(EducationAuthority, ~ coalesce(., EducationAuthority_fill))) %>%
    select(- EducationAuthority_fill) %>%
    glimpse()


centre_postcodes %>%

    group_by(across(matches("Centre"))) %>%
    add_tally() %>%
    filter(n > 1) %>%
    arrange(Centre)

centre_postcodes %>%
    filter(if_all(c(EducationAuthority, GeoArea), is.na)) %>%
    nrow()

centre_postcodes %>%
    filter(is.na(GeoArea)) %>%
    nrow()

centre_postcodes %>%
    filter(is.na(EducationAuthority)) %>%
    nrow()

Joining, by = c("Centre", "CentreName", "Postcode")

Rows: 988
Columns: 5
$ Centre             <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 100295…
$ CentreName         <fct> "Firpark Secondary School", "Buchanan High School",…
$ Postcode           <fct> ML1 2PR, ML5 2HT, G67 2UF, KA13 6DE, DD3 8LE, EH11 …
$ EducationAuthority <fct> North Lanarkshire Council Education Department, Nor…
$ GeoArea            <fct> North Lanarkshire, North Lanarkshire, North Lanarks…

  Centre  CentreName       Postcode EducationAuthority
1 5251834 Banchory Academy AB31 5UJ Aberdeenshire Council Education Department
2 5251834 Banchory Academy AB31 5TQ Aberdeenshire Council Education Department
  GeoArea       n
1 Aberdeenshire 2
2 Aberdeenshire 2

[1] 0

[1] 0

[1] 520

In [10]:
# school website and google maps both have  AB31 5UJ 
# manually deleting other

centre_postcodes %>%
    distinct(Centre, Postcode) %>%

    group_by(across(matches("Centre"))) %>%
    add_tally() %>%
    filter(n > 1)

  Centre  Postcode n
1 5251834 AB31 5UJ 2
2 5251834 AB31 5TQ 2

In [11]:
centre_postcodes <- centre_postcodes %>%
    filter(!((Centre == "5251834") & (Postcode == "AB31 5TQ")))

### Manually fill in remaining blanks in postcodes

In [12]:
summary_stats_schools <- bind_rows(lapply(datafiles_secondary_school_level_summary_statistics, read_csv, 
                                          col_select = matches("Authority|SeedCode|Name"),
                                          trim_ws = TRUE, 
                                          na = c("*", "#", "..", "z", "x")
                                         )
                             ) %>% 

    filter(rowSums(is.na(.)) != ncol(.)) %>%
    distinct() %>%
    rename_with(snakecase::to_upper_camel_case) %>%

    glimpse()

Rows: 358 Columns: 3
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (2): Local Authority, School Name
dbl (1): SeedCode

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 357 Columns: 3
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (2): Local Authority, School Name
dbl (1): SeedCode

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 357 Columns: 3
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (2): Local Authority, School Name
dbl (1): SeedCode

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 384
Columns: 3
$ LocalAuthority <chr> "Aberdeen City", "Aberdeen City", "Aberdeen City", "Abe…
$ SeedCode       <dbl> 5244439, 5235634, 5234034, 5235839, 5243335, 5243238, 5…
$ SchoolName     <chr> "Aberdeen Grammar School", "Bridge of Don Academy", "Bu…

In [13]:
summary_stats_schools <- summary_stats_schools %>%

    rename_with(snakecase::to_upper_camel_case, abbreviations = abbreviations) %>%

    mutate(across(where(is.character), str_squish),
           across(SchoolName, ~ str_replace_all(., "\\$", "")), # flags school closed
           across(SeedCode, as.character),
           
           across(LocalAuthority, ~ if_else(str_detect(., "Edinburgh"), "City of Edinburgh", .)), 
           across(LocalAuthority, ~ if_else(str_detect(., "Clackmannan"), "Clackmannanshire", .)), 
           across(LocalAuthority, ~ if_else(str_detect(., "Western Isles"), "Na h-Eileanan Siar", .)), 
           across(LocalAuthority, ~ gsub("\\band\\b", "\\&", .)),
           across(LocalAuthority, ~ if_else(str_detect(., regex("Grant aided", ignore_case = TRUE)), str_to_title(.), .)), 
           across(LocalAuthority, ~ str_squish(str_remove(., "Council"))),
           across(LocalAuthority, ~ fct_relevel(., "Grant Aided", after = Inf)),
           
           across(everything(), as.factor)
          ) %>%
    distinct() %>%

    glimpse()

Rows: 361
Columns: 3
$ LocalAuthority <fct> Aberdeen City, Aberdeen City, Aberdeen City, Aberdeen C…
$ SeedCode       <fct> 5244439, 5235634, 5234034, 5235839, 5243335, 5243238, 5…
$ SchoolName     <fct> Aberdeen Grammar School, Bridge of Don Academy, Bucksbu…

In [14]:
summary_stats_schools %>%
    group_by(SeedCode) %>%
    add_tally() %>%
    filter(n > 1) %>%
    arrange(SeedCode, desc(n))

  LocalAuthority    SeedCode SchoolName                          n
1 City of Edinburgh 5533937  Wester Hailes Education Centre      2
2 City of Edinburgh 5533937  Wester Hailes High School           2
3 Scottish Borders  5632730  Jedburgh Grammar School             2
4 Scottish Borders  5632730  Jedburgh Grammar Campus - Secondary 2

In [15]:
levels(summary_stats_schools$LocalAuthority)

 [1] "Aberdeen City"       "Aberdeenshire"       "Angus"
 [4] "Argyll & Bute"       "City of Edinburgh"   "Clackmannanshire"
 [7] "Dumfries & Galloway" "Dundee City"         "East Ayrshire"
[10] "East Dunbartonshire" "East Lothian"        "East Renfrewshire"
[13] "Falkirk"             "Fife"                "Glasgow City"
[16] "Highland"            "Inverclyde"          "Midlothian"
[19] "Moray"               "Na h-Eileanan Siar"  "North Ayrshire"
[22] "North Lanarkshire"   "Orkney Islands"      "Perth & Kinross"
[25] "Renfrewshire"        "Scottish Borders"    "Shetland Islands"
[28] "South Ayrshire"      "South Lanarkshire"   "Stirling"
[31] "West Dunbartonshire" "West Lothian"        "Grant Aided"

In [16]:
summary_stats_schools <- summary_stats_schools %>%

    left_join(centre_postcodes %>%
                  distinct(Centre, Postcode), 
              by = c("SeedCode" = "Centre")
             )

In [17]:
nrow(summary_stats_schools)

summary_stats_schools %>%
    distinct(SeedCode) %>%
    nrow()

summary_stats_schools %>%
    filter(is.na(Postcode)) %>%
    distinct(SeedCode, SchoolName) %>%
    nrow()

summary_stats_schools %>%
    filter(!is.na(Postcode)) %>%
    distinct(SeedCode, SchoolName, Postcode) %>%
    nrow()

[1] 361

[1] 359

[1] 15

[1] 346

In [18]:
summary_stats_schools %>%
    filter(is.na(Postcode))

summary_stats_schools %>%
    filter(is.na(Postcode)) %>%
    distinct(SeedCode, SchoolName, Postcode) %>%
    mutate(seed = paste0("(SeedCode == \"", SeedCode, "\") ~ \"\",", " # ", SchoolName),
           Postcode = "\"\""
          ) %>%
    distinct(seed)

   LocalAuthority      SeedCode SchoolName                 Postcode
1  Argyll & Bute       8109931  Islay High School          NA
2  Argyll & Bute       8111030  Lochgilphead High School   NA
3  Dumfries & Galloway 5948630  Lockerbie Academy          NA
4  Dumfries & Galloway 5948738  Moffat Academy             NA
5  Highland            5130239  Ardnamurchan High School   NA
6  Highland            5119332  Fortrose Academy           NA
7  Highland            5142539  Glen Urquhart High School  NA
8  Highland            5142431  Kilchuimen Academy         NA
9  Highland            5135834  Mallaig High School        NA
10 North Lanarkshire   8517231  Calderhead High School     NA
11 North Lanarkshire   8506736  St Ambrose High School     NA
12 Orkney Islands      6003230  Sanday Secondary School    NA
13 Orkney Islands      6003834  Stronsay Secondary School  NA
14 Orkney Islands      6003036  Westray Secondary School   NA
15 Shetland Islands    6104134  Whalsay School - Secondary NA

   seed
1  (SeedCode == "8109931") ~ "", # Islay High School
2  (SeedCode == "8111030") ~ "", # Lochgilphead High School
3  (SeedCode == "5948630") ~ "", # Lockerbie Academy
4  (SeedCode == "5948738") ~ "", # Moffat Academy
5  (SeedCode == "5130239") ~ "", # Ardnamurchan High School
6  (SeedCode == "5119332") ~ "", # Fortrose Academy
7  (SeedCode == "5142539") ~ "", # Glen Urquhart High School
8  (SeedCode == "5142431") ~ "", # Kilchuimen Academy
9  (SeedCode == "5135834") ~ "", # Mallaig High School
10 (SeedCode == "8517231") ~ "", # Calderhead High School
11 (SeedCode == "8506736") ~ "", # St Ambrose High School
12 (SeedCode == "6003230") ~ "", # Sanday Secondary School
13 (SeedCode == "6003834") ~ "", # Stronsay Secondary School
14 (SeedCode == "6003036") ~ "", # Westray Secondary School
15 (SeedCode == "6104134") ~ "", # Whalsay School - Secondary

In [19]:
tmp_df <- summary_stats_schools %>%
    filter(is.na(Postcode)) %>%
    distinct() %>%

    # where not on school website retrieved from council website, unless otherwise flagged
    mutate(across(Postcode, as.character),
           across(Postcode, ~ case_when((SeedCode == "8109931") ~ "PA43 7LS", # Islay High School -  (google has PA43 7JS)
                                        (SeedCode == "8111030") ~ "PA31 8AA", # Lochgilphead High School
                                        (SeedCode == "5948630") ~ "DG11 2AT", # Lockerbie Academy
                                        (SeedCode == "5948738") ~ "DG10 9QF", # Moffat Academy
                                        (SeedCode == "5130239") ~ "PH36 4JA", # Ardnamurchan High School
                                        (SeedCode == "5119332") ~ "IV10 8TW", # Fortrose Academy
                                        (SeedCode == "5142539") ~ "IV63 6XA", # Glen Urquhart High School
                                        (SeedCode == "5142431") ~ "PH32 4DL", # Kilchuimen Academy
                                        (SeedCode == "5135834") ~ "PH41 4RG", # Mallaig High School
                                        (SeedCode == "8517231") ~ "ML7 4DH", # Calderhead High School
                                        (SeedCode == "8506736") ~ "ML5 2HT", # St Ambrose High School
                                        (SeedCode == "6003230") ~ "SG19 1BL", # Sanday Secondary School
                                        (SeedCode == "6003834") ~ "KW17 2AE", # Stronsay Secondary School
                                        (SeedCode == "6003036") ~ "KW17 2DH", # Westray Secondary School
                                        (SeedCode == "6104134") ~ "ZE2 9AB", # Whalsay School - Secondary (from google, neither school nor coucil has school address)
                                        TRUE ~ .
                                       )),
           across(Postcode, as.factor),           
        )

tmp_df

   LocalAuthority      SeedCode SchoolName                 Postcode
1  Argyll & Bute       8109931  Islay High School          PA43 7LS
2  Argyll & Bute       8111030  Lochgilphead High School   PA31 8AA
3  Dumfries & Galloway 5948630  Lockerbie Academy          DG11 2AT
4  Dumfries & Galloway 5948738  Moffat Academy             DG10 9QF
5  Highland            5130239  Ardnamurchan High School   PH36 4JA
6  Highland            5119332  Fortrose Academy           IV10 8TW
7  Highland            5142539  Glen Urquhart High School  IV63 6XA
8  Highland            5142431  Kilchuimen Academy         PH32 4DL
9  Highland            5135834  Mallaig High School        PH41 4RG
10 North Lanarkshire   8517231  Calderhead High School     ML7 4DH
11 North Lanarkshire   8506736  St Ambrose High School     ML5 2HT
12 Orkney Islands      6003230  Sanday Secondary School    SG19 1BL
13 Orkney Islands      6003834  Stronsay Secondary School  KW17 2AE
14 Orkney Islands      6003036  Westray Secondary School   KW17 2DH
15 Shetland Islands    6104134  Whalsay School - Secondary ZE2 9AB

In [20]:
education_authorities <- centre_postcodes %>%
    rename(LocalAuthority = GeoArea) %>%
    filter(EducationAuthority != "Independent") %>%
    select(contains("Authority")) %>%
    distinct() %>%
    mutate(across(everything(), as.character)) %>%
    drop_na()

glimpse(education_authorities)

getEducationAuthority("Fife", education_authorities)
getEducationAuthority("Na h-Eileanan Siar", education_authorities)

Rows: 32
Columns: 2
$ EducationAuthority <chr> "North Lanarkshire Council Education Department", "…
$ LocalAuthority     <chr> "North Lanarkshire", "South Lanarkshire", "Glasgow …

[1] "Fife Council Education Department"

[1] "Western Isles Council Education Department"

In [21]:
# ll stte schools - run a batch fill

tmp_df$LocalAuthority

tmp_df$EducationAuthority <-
    sapply(tmp_df$LocalAuthority, 
           getEducationAuthority, 
           education_authorities)

tmp_df

 [1] Argyll & Bute       Argyll & Bute       Dumfries & Galloway
 [4] Dumfries & Galloway Highland            Highland
 [7] Highland            Highland            Highland
[10] North Lanarkshire   North Lanarkshire   Orkney Islands
[13] Orkney Islands      Orkney Islands      Shetland Islands
33 Levels: Aberdeen City Aberdeenshire Angus ... Grant Aided

   LocalAuthority      SeedCode SchoolName                 Postcode
1  Argyll & Bute       8109931  Islay High School          PA43 7LS
2  Argyll & Bute       8111030  Lochgilphead High School   PA31 8AA
3  Dumfries & Galloway 5948630  Lockerbie Academy          DG11 2AT
4  Dumfries & Galloway 5948738  Moffat Academy             DG10 9QF
5  Highland            5130239  Ardnamurchan High School   PH36 4JA
6  Highland            5119332  Fortrose Academy           IV10 8TW
7  Highland            5142539  Glen Urquhart High School  IV63 6XA
8  Highland            5142431  Kilchuimen Academy         PH32 4DL
9  Highland            5135834  Mallaig High School        PH41 4RG
10 North Lanarkshire   8517231  Calderhead High School     ML7 4DH
11 North Lanarkshire   8506736  St Ambrose High School     ML5 2HT
12 Orkney Islands      6003230  Sanday Secondary School    SG19 1BL
13 Orkney Islands      6003834  Stronsay Secondary School  KW17 2AE
14 Orkney Islands      6003036  Westray Secondary School   KW17 2DH
15 Shetland Islands    6104134  Whalsay School - Secondary ZE2 9AB
   EducationAuthority
1  Argyll & Bute Council Education Department
2  Argyll & Bute Council Education Department
3  Dumfries & Galloway Council Education Department
4  Dumfries & Galloway Council Education Department
5  Highland Council Education Department
6  Highland Council Education Department
7  Highland Council Education Department
8  Highland Council Education Department
9  Highland Council Education Department
10 North Lanarkshire Council Education Department
11 North Lanarkshire Council Education Department
12 Orkney Islands Council Education Department
13 Orkney Islands Council Education Department
14 Orkney Islands Council Education Department
15 Shetland Islands Council Education Department

In [22]:
glimpse(centre_postcodes)

centre_postcodes <- centre_postcodes %>%
    anti_join(tmp_df %>%
              mutate(across(everything(), ~ fct_drop(.))) %>%
              rename(Centre = SeedCode)) %>%
    rbind(tmp_df %>%
              mutate(across(everything(), ~ fct_drop(.))) %>%
              rename_with(~ c("Centre", "CentreName", "GeoArea"), c("SeedCode", "SchoolName", "LocalAuthority"))
    ) %>%
    glimpse()

Rows: 987
Columns: 5
$ Centre             <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 100295…
$ CentreName         <fct> "Firpark Secondary School", "Buchanan High School",…
$ Postcode           <fct> ML1 2PR, ML5 2HT, G67 2UF, KA13 6DE, DD3 8LE, EH11 …
$ EducationAuthority <fct> North Lanarkshire Council Education Department, Nor…
$ GeoArea            <fct> North Lanarkshire, North Lanarkshire, North Lanarks…

Joining, by = c("Centre", "Postcode", "EducationAuthority")

Rows: 1,002
Columns: 5
$ Centre             <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 100295…
$ CentreName         <fct> "Firpark Secondary School", "Buchanan High School",…
$ Postcode           <fct> ML1 2PR, ML5 2HT, G67 2UF, KA13 6DE, DD3 8LE, EH11 …
$ EducationAuthority <fct> North Lanarkshire Council Education Department, Nor…
$ GeoArea            <fct> North Lanarkshire, North Lanarkshire, North Lanarks…

In [23]:
centre_postcodes %>%
    tail(20)

   Centre  CentreName                                                 Postcode
1  8811296 Basil Paterson College                                     EH2 4NA
2  8811793 Wallace College                                            EH1 1EE
3  9194010 System Computer Information Technology Institute (Syscoms) NA
4  9900080 East Coast College (Lowestoft Campus)                      NR32 2NB
5  9994971 SQA Operations                                             G2 8DQ
6  8109931 Islay High School                                          PA43 7LS
7  8111030 Lochgilphead High School                                   PA31 8AA
8  5948630 Lockerbie Academy                                          DG11 2AT
9  5948738 Moffat Academy                                             DG10 9QF
10 5130239 Ardnamurchan High School                                   PH36 4JA
11 5119332 Fortrose Academy                                           IV10 8TW
12 5142539 Glen Urquhart High School                                  IV63 6XA
13 5142431 Kilchuimen Academy                                         PH32 4DL
14 5135834 Mallaig High School                                        PH41 4RG
15 8517231 Calderhead High School                                     ML7 4DH
16 8506736 St Ambrose High School                                     ML5 2HT
17 6003230 Sanday Secondary School                                    SG19 1BL
18 6003834 Stronsay Secondary School                                  KW17 2AE
19 6003036 Westray Secondary School                                   KW17 2DH
20 6104134 Whalsay School - Secondary                                 ZE2 9AB
   EducationAuthority                               GeoArea
1  Independent                                      City of Edinburgh
2  NA                                               City of Edinburgh
3  NA                                               Middle East
4  NA                                               England
5  NA                                               Glasgow City
6  Argyll & Bute Council Education Department       Argyll & Bute
7  Argyll & Bute Council Education Department       Argyll & Bute
8  Dumfries & Galloway Council Education Department Dumfries & Galloway
9  Dumfries & Galloway Council Education Department Dumfries & Galloway
10 Highland Council Education Department            Highland
11 Highland Council Education Department            Highland
12 Highland Council Education Department            Highland
13 Highland Council Education Department            Highland
14 Highland Council Education Department            Highland
15 North Lanarkshire Council Education Department   North Lanarkshire
16 North Lanarkshire Council Education Department   North Lanarkshire
17 Orkney Islands Council Education Department      Orkney Islands
18 Orkney Islands Council Education Department      Orkney Islands
19 Orkney Islands Council Education Department      Orkney Islands
20 Shetland Islands Council Education Department    Shetland Islands

#### END &ndash; manually fill in remaining blanks in postcodes

### Clean Geographical Metadata

In [24]:
centre_postcodes %>%
    filter(is.na(Postcode)) %>% 
    arrange(CentreName)

   Centre  CentreName                                                  Postcode
1  3025187 AAS College Applied Arts Studies                            NA
2  3018091 AAT Business Park                                           NA
3  3003647 ADNOC SQA Centre                                            NA
4  3020282 Britannia International Academy                             NA
5  3008576 Business And Technology Education Centre (BTEC)             NA
6  3002349 Centre of Excellence for Technical and Vocational Education NA
7  3017982 Myanmar Metropolitan College                                NA
8  3019500 National Company for Training and Education Technologies    NA
9  3017915 Racer Engineering College                                   NA
10 9194010 System Computer Information Technology Institute (Syscoms)  NA
11 3022935 The Way Training Institute                                  NA
   EducationAuthority GeoArea
1  NA                 Other
2  NA                 Far East
3  NA                 Middle East
4  NA                 Middle East
5  NA                 Middle East
6  NA                 Middle East
7  NA                 Far East
8  NA                 Middle East
9  NA                 Far East
10 NA                 Middle East
11 NA                 Middle East

In [25]:
levels(centre_postcodes$GeoArea)

setdiff(summary_stats_schools$LocalAuthority, centre_postcodes$GeoArea)
setdiff(centre_postcodes$GeoArea, summary_stats_schools$LocalAuthority)

 [1] "Aberdeen City"       "Aberdeenshire"       "Angus"
 [4] "Argyll & Bute"       "City of Edinburgh"   "Clackmannanshire"
 [7] "Dumfries & Galloway" "Dundee City"         "East Ayrshire"
[10] "East Dunbartonshire" "East Lothian"        "East Renfrewshire"
[13] "England"             "Falkirk"             "Far East"
[16] "Fife"                "Glasgow City"        "Highland"
[19] "Inverclyde"          "Middle East"         "Midlothian"
[22] "Moray"               "Na h-Eileanan Siar"  "North Ayrshire"
[25] "North Lanarkshire"   "Orkney Islands"      "Other"
[28] "Perth & Kinross"     "Renfrewshire"        "Scottish Borders"
[31] "Shetland Islands"    "South Asia"          "South Ayrshire"
[34] "South Lanarkshire"   "Stirling"            "Wales"
[37] "West Dunbartonshire" "West Lothian"

[1] "Grant Aided"

[1] "Middle East" "Far East"    "Wales"       "England"     "Other"
[6] "South Asia"

In [26]:
centre_postcodes <- centre_postcodes %>%
    mutate(across(GeoArea, ~ fct_relevel(., #setdiff(centre_postcodes$GeoArea, summary_stats_schools$LocalAuthority),
                                         "England", "Wales", "Middle East", "Far East", "South Asia", "Other",
                                         after = Inf)))

levels(centre_postcodes$GeoArea)

 [1] "Aberdeen City"       "Aberdeenshire"       "Angus"
 [4] "Argyll & Bute"       "City of Edinburgh"   "Clackmannanshire"
 [7] "Dumfries & Galloway" "Dundee City"         "East Ayrshire"
[10] "East Dunbartonshire" "East Lothian"        "East Renfrewshire"
[13] "Falkirk"             "Fife"                "Glasgow City"
[16] "Highland"            "Inverclyde"          "Midlothian"
[19] "Moray"               "Na h-Eileanan Siar"  "North Ayrshire"
[22] "North Lanarkshire"   "Orkney Islands"      "Perth & Kinross"
[25] "Renfrewshire"        "Scottish Borders"    "Shetland Islands"
[28] "South Ayrshire"      "South Lanarkshire"   "Stirling"
[31] "West Dunbartonshire" "West Lothian"        "England"
[34] "Wales"               "Middle East"         "Far East"
[37] "South Asia"          "Other"

In [27]:
centre_postcodes <- centre_postcodes %>%
    mutate(Country = case_when((GeoArea %in% summary_stats_schools$LocalAuthority) ~ "Scotland",
                               (GeoArea %in% c("England", "Wales")) ~ as.character(GeoArea),
                               TRUE ~ "Other"
                              ),
           across(Country, ~ factor(., levels = c("Scotland", "England", "Wales", "Other")))
          )


centre_postcodes %>%
    distinct(GeoArea, Country) %>%
    arrange(Country, GeoArea)

   GeoArea             Country
1  Aberdeen City       Scotland
2  Aberdeenshire       Scotland
3  Angus               Scotland
4  Argyll & Bute       Scotland
5  City of Edinburgh   Scotland
6  Clackmannanshire    Scotland
7  Dumfries & Galloway Scotland
8  Dundee City         Scotland
9  East Ayrshire       Scotland
10 East Dunbartonshire Scotland
11 East Lothian        Scotland
12 East Renfrewshire   Scotland
13 Falkirk             Scotland
14 Fife                Scotland
15 Glasgow City        Scotland
16 Highland            Scotland
17 Inverclyde          Scotland
18 Midlothian          Scotland
19 Moray               Scotland
20 Na h-Eileanan Siar  Scotland
21 North Ayrshire      Scotland
22 North Lanarkshire   Scotland
23 Orkney Islands      Scotland
24 Perth & Kinross     Scotland
25 Renfrewshire        Scotland
26 Scottish Borders    Scotland
27 Shetland Islands    Scotland
28 South Ayrshire      Scotland
29 South Lanarkshire   Scotland
30 Stirling            Scotland
31 West Dunbartonshire Scotland
32 West Lothian        Scotland
33 England             England
34 Wales               Wales
35 Middle East         Other
36 Far East            Other
37 South Asia          Other
38 Other               Other

### Derive SIMD and Rural/Urban classifications - Scottish centres

### "external data" - urban/rural classification

In [28]:
sg_6_fold_urban_rural_classification <- read_csv("data/sg_urban_rural_classification/sg_6_fold_classification.csv", trim_ws = TRUE, na = c("*", "#", "..")) %>% #, skip_empty_rows = T) # NOT skipping empty rows... :(
                                            filter(rowSums(is.na(.)) != ncol(.)) # caters for skip rows argument not working

glimpse(sg_6_fold_urban_rural_classification)

sg_8_fold_urban_rural_classification <- read_csv("data/sg_urban_rural_classification/sg_8_fold_classification.csv", trim_ws = TRUE, na = c("*", "#", "..")) %>% #, skip_empty_rows = T) # NOT skipping empty rows... :(
                                            filter(rowSums(is.na(.)) != ncol(.)) # caters for skip rows argument not working

glimpse(sg_8_fold_urban_rural_classification)

Rows: 6 Columns: 3
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (2): URNAME, URDESC
dbl (1): URCLASS

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 6
Columns: 3
$ URCLASS <dbl> 1, 2, 3, 4, 5, 6
$ URNAME  <chr> "Large Urban Areas", "Other Urban Areas", "Accessible Small To…
$ URDESC  <chr> "Settlements of over 125 000 people", "Settlements of 10 000 t…

Rows: 8 Columns: 3
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (2): URNAME, URDESC
dbl (1): URCLASS

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 8
Columns: 3
$ URCLASS <dbl> 1, 2, 3, 4, 5, 6, 7, 8
$ URNAME  <chr> "Large Urban Areas", "Other Urban Areas", "Accessible Small To…
$ URDESC  <chr> "Settlements of over 125 000 people", "Settlements of 10 000 t…

In [29]:
sg_6_fold_urban_rural_classification <- sg_6_fold_urban_rural_classification %>%
    rename_with(~ c("URCode", "URClassification", "Description"))  %>%
    mutate(across(starts_with("UR"), as.factor), 
           across(URClassification, ~ fct_reorder(., as.numeric(URCode)))) %>%
    rename_with(~ str_replace(., "UR", "UrbanRural6Fold"))

sg_8_fold_urban_rural_classification <- sg_8_fold_urban_rural_classification %>%
    rename_with(~ c("URCode", "URClassification", "Description"))  %>%
    mutate(across(starts_with("UR"), as.factor), 
           across(URClassification, ~ fct_reorder(., as.numeric(URCode)))) %>%
    rename_with(~ str_replace(., "UR", "UrbanRural8Fold"))

sg_6_fold_urban_rural_classification 
sg_8_fold_urban_rural_classification

  UrbanRural6FoldCode UrbanRural6FoldClassification
1 1                   Large Urban Areas
2 2                   Other Urban Areas
3 3                   Accessible Small Towns
4 4                   Remote Small Towns
5 5                   Accessible Rural
6 6                   Remote Rural
  Description
1 Settlements of over 125 000 people
2 Settlements of 10 000 to 125 000 people
3 Settlements of between 3 000 and 10 000 people and within a 30 minute drive time of a Settlement of 10 000 or more
4 Settlements of between 3 000 and 10 000 people and with a drive time of over 30 minutes to a Settlement of 10 000 or more
5 Areas with a population of less than 3 000 people and within a 30 minute drive time of a Settlement of 10 000 or more
6 Areas with a population of less than 3 000 people and with a drive time of over 30 minutes to a Settlement of 10 000 or more

  UrbanRural8FoldCode UrbanRural8FoldClassification
1 1                   Large Urban Areas
2 2                   Other Urban Areas
3 3                   Accessible Small Towns
4 4                   Remote Small Towns
5 5                   Very Remote Small Towns
6 6                   Accessible Rural Areas
7 7                   Remote Rural Areas
8 8                   Very Remote Rural Areas
  Description
1 Settlements of over 125 000 people
2 Settlements of 10 000 to 125 000 people
3 Settlements of between 3 000 and 10 000 people and within a 30 minute drive time of a Settlement of 10 000 or more
4 Settlements of between 3 000 and 10 000 people and with a drive time between 30 and 60 minutes to a Settlement of 10 000 or more
5 Settlements of between 3 000 and 10 000 people and with a drive time of over 60 minutes to a Settlement of 10 000 or more
6 Areas with a population of less than 3 000 people and within a drive time of 30 minutes to a Settlement of 10 000 or more
7 Areas with a population of less than 3 000 people and with a drive time of between 30 and 60 minutes to a Settlement of 10 000 or more
8 Areas with a population of less than 3 000 people and with a drive time of over 60 minutes to a Settlement of 10 000 or more

In [30]:
sg_2_fold_urban_rural_classification <- read_csv("data/sg_urban_rural_classification/sg_2_fold_classification.csv", trim_ws = TRUE, na = c("*", "#", "..")) %>% #, skip_empty_rows = T) # NOT skipping empty rows... :(
                                            filter(rowSums(is.na(.)) != ncol(.)) # caters for skip rows argument not working

glimpse(sg_2_fold_urban_rural_classification)

sg_2_fold_urban_rural_classification <- sg_2_fold_urban_rural_classification %>%
    select(- contains("Area")) %>%
    rename_with(~ c("URCode", "URClassification", "Description")) %>%
    mutate(across(starts_with("UR"), as.factor), 
           across(URClassification, ~ fct_reorder(., as.numeric(URCode)))) %>%
    rename_with(~ str_replace(., "UR", "UrbanRural2Fold"))


sg_3_fold_urban_rural_classification <- read_csv("data/sg_urban_rural_classification/sg_3_fold_classification.csv", trim_ws = TRUE, na = c("*", "#", "..")) %>% #, skip_empty_rows = T) # NOT skipping empty rows... :(
                                            filter(rowSums(is.na(.)) != ncol(.)) # caters for skip rows argument not working

glimpse(sg_3_fold_urban_rural_classification)

sg_3_fold_urban_rural_classification <- sg_3_fold_urban_rural_classification %>%
    select(- contains("Area")) %>%
    rename_with(~ c("URCode", "URClassification", "Description")) %>%
    mutate(across(starts_with("UR"), as.factor), 
           across(URClassification, ~ fct_reorder(., as.numeric(URCode)))) %>%
    rename_with(~ str_replace(., "UR", "UrbanRural3Fold"))

sg_2_fold_urban_rural_classification 
sg_3_fold_urban_rural_classification

Rows: 2 Columns: 5
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (2): URNAME, URDESC
dbl (3): URCLASS, AreaSqKm, PercentageTotalLandArea

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 2
Columns: 5
$ URCLASS                 <dbl> 1, 2
$ URNAME                  <chr> "Urban Areas", "Rural Areas"
$ URDESC                  <chr> "", "Areas with a population less than 3,000 p…
$ AreaSqKm                <dbl> 1689.194, 76247.917
$ PercentageTotalLandArea <dbl> 2.16738, 97.83262

Rows: 3 Columns: 5
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (2): URNAME, URDESC
dbl (2): URCLASS, PercentageTotalLandArea

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 3
Columns: 5
$ URCLASS                 <dbl> 1, 2, 3
$ URNAME                  <chr> "Rest of Scotland", "Accessible Rural", "Remot…
$ URDESC                  <chr> "", "Accessible Areas are within a 30 minute d…
$ AreaSqKm                <dbl> 1689.19, 22024.82, 54223.09
$ PercentageTotalLandArea <dbl> 2.17, 28.26, 69.57

  UrbanRural2FoldCode UrbanRural2FoldClassification
1 1                   Urban Areas
2 2                   Rural Areas
  Description
1
2 Areas with a population less than 3,000 people

  UrbanRural3FoldCode UrbanRural3FoldClassification
1 1                   Rest of Scotland
2 2                   Accessible Rural
3 3                   Remote Rural
  Description
1
2 Accessible Areas are within a 30 minute drive time from the centre of a Settlement of 10,000 or more.
3 Remote Areas have a drive time which is greater than 30 minutes from the centre of a Settlement of 10,000 or more.

In [31]:
levels(sg_2_fold_urban_rural_classification$UrbanRural2FoldCode)
levels(sg_2_fold_urban_rural_classification$UrbanRural2FoldClassification)

levels(sg_3_fold_urban_rural_classification$UrbanRural3FoldCode)
levels(sg_3_fold_urban_rural_classification$UrbanRural3FoldClassification)

[1] "1" "2"

[1] "Urban Areas" "Rural Areas"

[1] "1" "2" "3"

[1] "Rest of Scotland" "Accessible Rural" "Remote Rural"

In [32]:
sg_urban_rural_classification_postcode_lookup <- read_csv("data/sg_urban_rural_classification/sg_2016_urban_rural_classification_postcode_lookup.csv", 
                                                          trim_ws = TRUE, na = c("*", "#", "..")) %>% #, skip_empty_rows = T) # NOT skipping empty rows... :(
                                            filter(rowSums(is.na(.)) != ncol(.)) # caters for skip rows argument not working

glimpse(sg_urban_rural_classification_postcode_lookup)

Rows: 235880 Columns: 11
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (7): POSTCODE, INT_DATE, DEL_DATE, TYPE, LINKPC, SPLIT_IND, CA_CODE
dbl (4): UR2FOLD, UR3FOLD, UR6FOLD, UR8FOLD

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 235,880
Columns: 11
$ POSTCODE  <chr> "AB1 0AA", "AB1 0AB", "AB1 0AD", "AB1 0AE", "AB1 0AF", "AB1 …
$ INT_DATE  <chr> "01/01/1980", "01/08/1973", "01/08/1973", "01/02/1994", "01/…
$ DEL_DATE  <chr> "01/06/1996", "01/04/1996", "01/04/1996", "01/04/1996", "01/…
$ TYPE      <chr> "0", "0", "0", "0", "L", "L", "0", "0", "L", "0", "0", "0", …
$ LINKPC    <chr> "", "", "", "", "AB14 0QL", "AB14 0SB", "", "", "AB13 0AP", …
$ SPLIT_IND <chr> "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", …
$ CA_CODE   <chr> "S12000033", "S12000033", "S12000033", "S12000034", "S120000…
$ UR2FOLD   <dbl> 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ UR3FOLD   <dbl> 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ UR6FOLD   <dbl> 3, 3, 5, 5, 3, 3, 3, 3, 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, …
$ UR8FOLD   <dbl> 3, 3, 6, 6, 3, 3, 3, 3, 6, 6, 3, 6, 6, 6, 6, 6, 6, 6, 6, 6, …

In [33]:
# huge file - rather than delete on completion, filter and store subset before join

sg_urban_rural_classification_postcode_lookup <- sg_urban_rural_classification_postcode_lookup %>%

    select(matches("POSTCODE|FOLD|DEL_DATE|LINKPC") | matches("[2368]{1}")) %>%
    rename_with(~ paste0(str_replace(., "UR", "UrbanRural"), "Code"), starts_with("UR")) %>%
    rename(LinkPostcode = LINKPC) %>%
    rename_with(snakecase::to_upper_camel_case) %>%
    mutate(across(c(DelDate, LinkPostcode), ~ na_if(str_trim(.), ""))) %>%
    mutate(across(everything(), as.factor))

glimpse(sg_urban_rural_classification_postcode_lookup)

Rows: 235,880
Columns: 7
$ Postcode            <fct> AB1 0AA, AB1 0AB, AB1 0AD, AB1 0AE, AB1 0AF, AB1 0…
$ DelDate             <fct> 01/06/1996, 01/04/1996, 01/04/1996, 01/04/1996, 01…
$ LinkPostcode        <fct> NA, NA, NA, NA, AB14 0QL, AB14 0SB, NA, NA, AB13 0…
$ UrbanRural2FoldCode <fct> 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2,…
$ UrbanRural3FoldCode <fct> 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2,…
$ UrbanRural6FoldCode <fct> 3, 3, 5, 5, 3, 3, 3, 3, 5, 5, 3, 5, 5, 5, 5, 5, 5,…
$ UrbanRural8FoldCode <fct> 3, 3, 6, 6, 3, 3, 3, 3, 6, 6, 3, 6, 6, 6, 6, 6, 6,…

In [34]:
sg_urban_rural_classification_postcode_lookup %>%
    select(ends_with("FoldCode")) %>%
    distinct() %>%
    arrange(UrbanRural8FoldCode)

  UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1 1                   1                   1
2 1                   1                   2
3 1                   1                   3
4 1                   1                   4
5 1                   1                   4
6 2                   2                   5
7 2                   3                   6
8 2                   3                   6
  UrbanRural8FoldCode
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

In [35]:
length(levels(sg_urban_rural_classification_postcode_lookup$Postcode))

sg_urban_rural_classification_postcode_lookup <- sg_urban_rural_classification_postcode_lookup %>%

    filter(is.na(DelDate)) %>%
    filter(Postcode %in% levels(centre_postcodes$Postcode)) %>%

    bind_rows(sg_urban_rural_classification_postcode_lookup %>%
                filter(Postcode %in% levels(centre_postcodes$Postcode)) %>%
                filter(!is.na(DelDate)) 
    ) %>%
    bind_rows(sg_urban_rural_classification_postcode_lookup %>%
                filter(Postcode %in% levels(centre_postcodes$Postcode)) %>%
                filter(!is.na(DelDate)) %>%
                distinct(LinkPostcode) %>%
                rename(Postcode = LinkPostcode) %>%

                left_join(sg_urban_rural_classification_postcode_lookup) %>%
                filter(!is.na(Postcode)) 
    ) %>%

    distinct() %>%    
    mutate(across(c(Postcode, DelDate, LinkPostcode), ~ fct_drop(.))) 

length(levels(sg_urban_rural_classification_postcode_lookup$Postcode))

[1] 221376

Joining, by = "Postcode"

[1] 860

In [36]:
sg_urban_rural_classification_postcode_lookup %>%
    slice_sample(n = 4)

sg_urban_rural_classification_postcode_lookup %>%
    distinct(across(matches("UrbanRural"))) %>%
    arrange(UrbanRural8FoldCode)

  Postcode DelDate LinkPostcode UrbanRural2FoldCode UrbanRural3FoldCode
1 G51 1PR  NA      NA           1                   1
2 HS1 2BJ  NA      NA           1                   1
3 DD2 2LJ  NA      NA           1                   1
4 IV30 5SY NA      NA           2                   2
  UrbanRural6FoldCode UrbanRural8FoldCode
1 1                   1
2 4                   5
3 1                   1
4 5                   6

  UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1 1                   1                   1
2 1                   1                   2
3 1                   1                   3
4 1                   1                   4
5 1                   1                   4
6 2                   2                   5
7 2                   3                   6
8 2                   3                   6
9 NA                  NA                  NA
  UrbanRural8FoldCode
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 NA

In [37]:
sg_urban_rural_classification_postcode_lookup %>%
    filter(if_all(matches("UrbanRural"), is.na)) %>%
    distinct() %>%
    arrange(UrbanRural8FoldCode)

  Postcode DelDate LinkPostcode UrbanRural2FoldCode UrbanRural3FoldCode
1 NO LINKP NA      NA           NA                  NA
  UrbanRural6FoldCode UrbanRural8FoldCode
1 NA                  NA

In [38]:
centre_postcodes <- centre_postcodes %>%
    left_join(sg_urban_rural_classification_postcode_lookup %>%
                  filter(is.na(DelDate)) %>%
                  select(- c(DelDate, LinkPostcode))
             ) %>%
    mutate(across(Postcode, as.character), 
           across(Postcode, as.factor)) %>%

    glimpse()


centre_postcodes %>%
    count(Country) %>%
    rename(NoOfCentres = n) %>%
    
    full_join(centre_postcodes %>%
                filter(if_any(starts_with("UrbanRural"), is.na)) %>%
                count(Country) %>%
                rename(URClassificationNotSet = n)
    )

Joining, by = "Postcode"

Rows: 1,002
Columns: 10
$ Centre              <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 10029…
$ CentreName          <fct> "Firpark Secondary School", "Buchanan High School"…
$ Postcode            <fct> ML1 2PR, ML5 2HT, G67 2UF, KA13 6DE, DD3 8LE, EH11…
$ EducationAuthority  <fct> North Lanarkshire Council Education Department, No…
$ GeoArea             <fct> North Lanarkshire, North Lanarkshire, North Lanark…
$ Country             <fct> Scotland, Scotland, Scotland, Scotland, Scotland, …
$ UrbanRural2FoldCode <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,…
$ UrbanRural3FoldCode <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,…
$ UrbanRural6FoldCode <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 5, 2, 1, 2, 1, 1,…
$ UrbanRural8FoldCode <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 6, 2, 1, 2, 1, 1,…

Joining, by = "Country"

  Country  NoOfCentres URClassificationNotSet
1 Scotland 892         28
2 England   24         24
3 Wales      2          2
4 Other     84         84

In [39]:
centre_postcodes %>%
    filter((Country == "Scotland") & if_any(starts_with("UrbanRural"), is.na))

   Centre  CentreName                                             Postcode
1  1004620 North West Community Campus                            DG2 9DF
2  1004743 Bertha Park High School                                PH1 0AU
3  1005405 Lockhart Campus                                        KA20 3JX
4  3000451 Rewards Training                                       G2 3BZ
5  3001024 Calder Associates (Scotland) Limited                   KY12 OQX
6  3006166 Ritchies Training Centre                               G21 4AU
7  3012743 Fitness Training Scotland                              KA1 9GX
8  3012808 Alma Care Training                                     G72 6AN
9  3023486 Lead Scotland                                          EH5 2FF
10 4197437 Training Matters (Scotland) Limited                    G52 4RU
11 5120136 Alness Academy                                         IV17 0WA
12 5135532 Kinlochleven High School                               PH50 4QE
13 5294738 Aberdeen City Council                                  AB15 5PD
14 5329531 Harris Academy                                         DD2 1NL
15 5406331 Buckhaven High School                                  KY8 1HL
16 5426537 Madras College                                         KY16 9BY
17 5502330 West Calder High School                                EH55 8BF
18 5511844 Cedarbank School                                       EH54 6FW
19 5546036 Newbattle High School                                  EH22 4SX
20 5590183 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
21 5592631 Workers Educational Association                        EH5 2FF
22 5939534 North West Community Campus                            DG2 9DY
23 5940745 Langlands School                                       DG2 9DF
24 8215839 Largs Academy                                          KA30 9DR
25 8461155 Glasgow Kelvin College City Campus                     G4 9LD
26 8645434 St Columba's High School (Gourock)                     PA19 1TP
27 8694036 East Renfrewshire Council                              G78 2QY
28 6003230 Sanday Secondary School                                SG19 1BL
   EducationAuthority                               GeoArea
1  Dumfries & Galloway Council Education Department Dumfries & Galloway
2  Perth & Kinross Council Education Department     Perth & Kinross
3  North Ayrshire Council Education Department      North Ayrshire
4  NA                                               Glasgow City
5  NA                                               Fife
6  NA                                               Glasgow City
7  NA                                               East Ayrshire
8  NA                                               South Lanarkshire
9  NA                                               City of Edinburgh
10 NA                                               Glasgow City
11 Highland Council Education Department            Highland
12 Highland Council Education Department            Highland
13 NA                                               Aberdeen City
14 Dundee City Council Education Department         Dundee City
15 Fife Council Education Department                Fife
16 Fife Council Education Department                Fife
17 West Lothian Council Education Department        West Lothian
18 West Lothian Council Education Department        West Lothian
19 Midlothian Council Education Department          Midlothian
20 NA                                               Midlothian
21 NA                                               City of Edinburgh
22 Dumfries & Galloway Council Education Department Dumfries & Galloway
23 Dumfries & Galloway Council Education Department Dumfries & Galloway
24 North Ayrshire Council Education Department      North Ayrshire
25 NA                                               Glasgow City
26 Inverclyde Council Education Department          Inverclyde
27 NA                                               East Renfrewshire
28 Orkney Islands Council Education Department      Orkney Islands
   Country  UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1  Scotland NA                  NA                  NA
2  Scotland NA                  NA                  NA
3  Scotland NA                  NA                  NA
4  Scotland NA                  NA                  NA
5  Scotland NA                  NA                  NA
6  Scotland NA                  NA                  NA
7  Scotland NA                  NA                  NA
8  Scotland NA                  NA                  NA
9  Scotland NA                  NA                  NA
10 Scotland NA                  NA                  NA
11 Scotland NA                  NA                  NA
12 Scotland NA                  NA                  NA
13 Scotland NA                  NA                  NA
14 Scotland NA                  NA                  NA
15 Scotland NA                  NA                  NA
16 Scotland NA                  NA                  NA
17 Scotland NA                  NA                  NA
18 Scotland NA                  NA                  NA
19 Scotland NA                  NA                  NA
20 Scotland NA                  NA                  NA
21 Scotland NA                  NA                  NA
22 Scotland NA                  NA                  NA
23 Scotland NA                  NA                  NA
24 Scotland NA                  NA                  NA
25 Scotland NA                  NA                  NA
26 Scotland NA                  NA                  NA
27 Scotland NA                  NA                  NA
28 Scotland NA                  NA                  NA
   UrbanRural8FoldCode
1  NA
2  NA
3  NA
4  NA
5  NA
6  NA
7  NA
8  NA
9  NA
10 NA
11 NA
12 NA
13 NA
14 NA
15 NA
16 NA
17 NA
18 NA
19 NA
20 NA
21 NA
22 NA
23 NA
24 NA
25 NA
26 NA
27 NA
28 NA

In [40]:
sg_urban_rural_classification_postcode_lookup %>%
    filter(Postcode %in% 
              (centre_postcodes %>%
                filter(if_any(starts_with("UrbanRural"), is.na)) %>%
                distinct(Postcode) %>%
                deframe() %>%
                as.character()  
              ))

   Postcode DelDate    LinkPostcode UrbanRural2FoldCode UrbanRural3FoldCode
1  AB15 5PD 09/07/2015 NA           1                   1
2  DD2 1NL  09/07/2015 DD2 1NJ      1                   1
3  DG2 9DY  01/09/1995 DG2 9DX      1                   1
4  G2 3BZ   09/07/2015 NA           1                   1
5  G21 4AU  19/07/2016 G21 4AQ      1                   1
6  G4 9LD   19/10/2016 G4 9LH       1                   1
7  G52 4RU  03/06/2008 NA           1                   1
8  G78 2QY  17/10/2013 G78 2RA      1                   1
9  IV17 0WA 23/01/2002 IV17 0PB     1                   1
10 KY16 9BY 01/07/1992 KY16 9BX     1                   1
11 KY8 1HL  19/10/2016 KY8 1EA      1                   1
12 PA19 1TP 13/10/2011 PA19 1TN     1                   1
13 PH50 4QE 01/10/2008 PH50 4QL     2                   3
   UrbanRural6FoldCode UrbanRural8FoldCode
1  1                   1
2  1                   1
3  2                   2
4  1                   1
5  1                   1
6  1                   1
7  1                   1
8  2                   2
9  4                   4
10 2                   2
11 2                   2
12 2                   2
13 6                   7

In [41]:
centre_postcodes %>%
    filter((Country == "Scotland") & if_any(starts_with("UrbanRural"), is.na)) %>%
    nrow()

centre_postcodes %>%
    filter((Country == "Scotland") & !(if_any(starts_with("UrbanRural"), is.na))) %>% 
    nrow()

centre_postcodes %>%
    filter((Country == "Scotland") & if_all(starts_with("UrbanRural"), ~ !is.na(.))) %>%
    nrow()


dim(centre_postcodes)

[1] 28

[1] 864

[1] 864

[1] 1002   10

In [42]:
centre_postcodes <- centre_postcodes %>%
    filter((Country != "Scotland") | if_all(starts_with("UrbanRural"), ~ !is.na(.))) %>%

    bind_rows(centre_postcodes %>%
                filter((Country == "Scotland") & if_any(starts_with("UrbanRural"), is.na)) %>%
                select(- starts_with("UrbanRural")) %>%

                left_join(centre_postcodes %>%
                            filter((Country == "Scotland") & if_any(starts_with("UrbanRural"), is.na)) %>%
                            distinct(Postcode) %>%

                            left_join(sg_urban_rural_classification_postcode_lookup %>%
                                          filter(!is.na(DelDate)) %>%
                                          select(Postcode, LinkPostcode)) %>%

                            left_join(sg_urban_rural_classification_postcode_lookup %>%
                                          filter(is.na(DelDate)) %>%
                                          select(Postcode, matches("UrbanRural")),
                                      by = c("LinkPostcode" = "Postcode")) 
                          )
                 ) %>%
    glimpse()

length(levels(centre_postcodes$Postcode))


centre_postcodes %>%
    count(Country) %>%
    rename(NoOfCentres = n) %>%
    
    full_join(centre_postcodes %>%
                filter(if_any(starts_with("UrbanRural"), is.na)) %>%
                count(Country) %>%
                rename(URClassificationNotSet = n)
    )

Joining, by = "Postcode"
Joining, by = "Postcode"

Rows: 1,002
Columns: 11
$ Centre              <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 10029…
$ CentreName          <fct> "Firpark Secondary School", "Buchanan High School"…
$ Postcode            <fct> ML1 2PR, ML5 2HT, G67 2UF, KA13 6DE, DD3 8LE, EH11…
$ EducationAuthority  <fct> North Lanarkshire Council Education Department, No…
$ GeoArea             <fct> North Lanarkshire, North Lanarkshire, North Lanark…
$ Country             <fct> Scotland, Scotland, Scotland, Scotland, Scotland, …
$ UrbanRural2FoldCode <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,…
$ UrbanRural3FoldCode <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,…
$ UrbanRural6FoldCode <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 5, 2, 1, 2, 1, 1,…
$ UrbanRural8FoldCode <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 6, 2, 1, 2, 1, 1,…
$ LinkPostcode        <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…

[1] 965

Joining, by = "Country"

  Country  NoOfCentres URClassificationNotSet
1 Scotland 892         18
2 England   24         24
3 Wales      2          2
4 Other     84         84

In [43]:

centre_postcodes %>%
    distinct(across(matches("UrbanRural\\dFoldCode"))) %>%
    arrange(UrbanRural8FoldCode)

  UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1 1                   1                   1
2 1                   1                   2
3 1                   1                   3
4 1                   1                   4
5 1                   1                   4
6 2                   2                   5
7 2                   3                   6
8 2                   3                   6
9 NA                  NA                  NA
  UrbanRural8FoldCode
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 NA

In [44]:
postcode_lookup <- read_csv("data/postcode_lookup/SmallUser.csv", trim_ws = TRUE, na = c("", "NA")) %>% 
                                filter(rowSums(is.na(.)) != ncol(.)) %>%

    bind_rows(read_csv("data/postcode_lookup/LargeUser.csv", trim_ws = TRUE, na = c("", "NA")) %>% 
                                    filter(rowSums(is.na(.)) != ncol(.))) %>%

    glimpse()

Rows: 192894 Columns: 57
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (44): Postcode, PostcodeDistrict, PostcodeSector, DateOfIntroduction, Da...
dbl (13): GridReferenceEasting, GridReferenceNorthing, Latitude, Longitude, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 49663 Columns: 51
── Column specification ──────────────────────────────────────────────────────────
Delimiter: ","
chr (44): Postcode, PostcodeDistrict, PostcodeSector, DateOfIntroduction, Da...
dbl  (7): GridReferenceEasting, GridReferenceNorthing, Latitude, Longitude, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

Rows: 242,557
Columns: 58
$ Postcode                                   <chr> "G31 2LZ", "G31 2NF", "G31 …
$ PostcodeDistrict                           <chr> "G31", "G31", "G31", "G31",…
$ PostcodeSector                             <chr> "G31 2", "G31 2", "G31 2", …
$ DateOfIntroduction                         <chr> "1/8/1973 00:00:00", "1/12/…
$ DateOfDeletion                             <chr> NA, "15/4/2010 00:00:00", N…
$ GridReferenceEasting                       <dbl> 261052, 261015, 261096, 261…
$ GridReferenceNorthing                      <dbl> 665316, 665076, 665491, 665…
$ Latitude                                   <dbl> 55.86095, 55.85878, 55.8625…
$ Longitude                                  <dbl> -4.221647, -4.222114, -4.22…
$ SplitIndicator                             <chr> "N", "N", "N", "N", "N", "N…
$ CouncilArea2019Code                        <chr> "S12000049", "S12000049", "…
$ UKParliamentaryConstituency2005Code        <chr> "S14000032", "S14000032", "…
$ ScottishParliamentaryRegion2021Code        <chr> "S17000020", "S17000020", "…
$ ScottishParliamentaryConstituency2021Code  <chr> "S16000150", "S16000150", "…
$ ElectoralWard2019Code                      <chr> "S13002988", "S13002988", "…
$ HealthBoardArea2019Code                    <chr> "S08000031", "S08000031", "…
$ HealthBoardArea2006Code                    <chr> "S08000007", "S08000007", "…
$ HealthBoardArea1995Code                    <chr> "09", "09", "09", "09", "09…
$ IntegrationAuthority2019Code               <chr> "S37000034", "S37000034", "…
$ OutputArea2011Code                         <chr> "S00113691", "S00117098", "…
$ OutputArea2001Code                         <chr> "S00022800", "S00026036", "…
$ OutputArea1991Code                         <chr> "6341CE06C", "6341CE04B", "…
$ DataZone2011Code                           <chr> "S01010236", "S01010252", "…
$ DataZone2001Code                           <chr> "S01003409", "S01003380", "…
$ IntermediateZone2011Code                   <chr> "S02001927", "S02001930", "…
$ IntermediateZone2001Code                   <chr> "S02000659", "S02000650", "…
$ CensusHouseholdCount2011                   <dbl> 9, NA, 27, 10, 70, 75, 41, …
$ CensusPopulationCount2011                  <dbl> 25, NA, 42, 16, 111, 146, 6…
$ CensusHouseholdCount2001                   <dbl> 12, 0, 28, 9, 63, 72, 40, 8…
$ CensusPopulationCount2001                  <dbl> 20, 0, 42, 26, 107, 130, 71…
$ CensusHouseholdCount1991                   <dbl> 34, 0, 21, 9, 54, 15, 39, 2…
$ CensusPopulationCount1991                  <dbl> 44, 0, 40, 26, 107, 42, 60,…
$ ScottishIndexOfMultipleDeprivation2020Rank <chr> "3012", "3172", "3012", "38…
$ LAU2019Level1Code                          <chr> "S30000052", "S30000052", "…
$ ITL2021Level2Code                          <chr> "TLM8", "TLM8", "TLM8", "TL…
$ ITL2021Level3Code                          <chr> "TLM82", "TLM82", "TLM82", …
$ Locality2016Code                           <chr> "S19001549", "S19001549", "…
$ Locality2001Code                           <chr> "133019", "133019", "133019…
$ Locality1991Code                           <chr> "259", "259", "259", "259",…
$ Settlement2016Code                         <chr> "S20001250", "S20001250", "…
$ Settlement2001Code                         <chr> "133", "133", "133", "133",…
$ CivilParish1930Code                        <chr> "S35000351", "S35000351", "…
$ EnterpriseRegion2008Code                   <chr> "S09000006", "S09000006", "…
$ Islands2022Code                            <chr> "000", "000", "000", "000",…
$ LocalGovernmentDistrict1995Code            <chr> "41", "41", "41", "41", "41…
$ LocalGovernmentDistrict1991Code            <chr> "41", "41", "41", "41", "41…
$ NationalPark2010Code                       <chr> NA, NA, NA, NA, NA, NA, NA,…
$ RegistrationDistrict2007Code               <chr> "S12000049", "S12000049", "…
$ ROACommunityPlanningPartnership2006Code    <chr> "S05000015", NA, "S05000015…
$ ROALocal2006Code                           <chr> "S06000074", NA, "S06000074…
$ StrategicDevelopmentPlanningArea2013Code   <chr> "S11000004", "S11000004", "…
$ TravelToWorkArea2011Code                   <chr> "S22000065", "S22000065", "…
$ UrbanRural6Fold2016Code                    <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ UrbanRural8Fold2016Code                    <dbl> 1, 1, 1, 1, 1, 1, 1, 1, 1, …
$ GridLinkIndicator                          <chr> "Y", "N", "Y", "Y", "Y", "Y…
$ GridLinkPositionalAccuracy                 <dbl> 1, NA, 1, 1, 1, 1, 1, 1, 1,…
$ NeverDigitised                             <chr> NA, NA, NA, NA, NA, NA, NA,…
$ LinkedSmallUserPostcode                    <chr> NA, NA, NA, NA, NA, NA, NA,…

In [45]:
range(postcode_lookup$ScottishIndexOfMultipleDeprivation2020Rank)

[1] "0001" "6976"

In [46]:
postcode_lookup <- postcode_lookup %>%
    rename(SIMD2020Rank = ScottishIndexOfMultipleDeprivation2020Rank)

simd2020Rank_range <- range(postcode_lookup$SIMD2020Rank)


postcode_lookup <- postcode_lookup %>%
    select(Postcode, DateOfDeletion, LinkedSmallUserPostcode, contains(c("CouncilArea2019", "Settlement2016", "SIMD", "UrbanRural"))) %>%
    distinct() %>%
    mutate(across(where(is.character), ~ str_squish(.)),
           across(c(DateOfDeletion, LinkedSmallUserPostcode), ~ na_if(., "")),
           across(where(is.numeric), as.integer), 
           across(matches("20\\d{2}Code"), as.factor)) %>%
    glimpse()


postcode_lookup %>%
    head()
postcode_lookup %>%
    tail()

Rows: 242,540
Columns: 8
$ Postcode                <chr> "G31 2LZ", "G31 2NF", "G31 2NW", "G31 2NX", "G…
$ DateOfDeletion          <chr> NA, "15/4/2010 00:00:00", NA, NA, NA, NA, NA, …
$ LinkedSmallUserPostcode <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ CouncilArea2019Code     <fct> S12000049, S12000049, S12000049, S12000049, S1…
$ Settlement2016Code      <fct> S20001250, S20001250, S20001250, S20001250, S2…
$ SIMD2020Rank            <chr> "3012", "3172", "3012", "3887", "3665", "3665"…
$ UrbanRural6Fold2016Code <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 6, 6, 6, 6, 6…
$ UrbanRural8Fold2016Code <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8, 8, 8, 8, 8, 8…

  Postcode DateOfDeletion     LinkedSmallUserPostcode CouncilArea2019Code
1 G31 2LZ  NA                 NA                      S12000049
2 G31 2NF  15/4/2010 00:00:00 NA                      S12000049
3 G31 2NW  NA                 NA                      S12000049
4 G31 2NX  NA                 NA                      S12000049
5 G31 2NY  NA                 NA                      S12000049
6 G31 2NZ  NA                 NA                      S12000049
  Settlement2016Code SIMD2020Rank UrbanRural6Fold2016Code
1 S20001250          3012         1
2 S20001250          3172         1
3 S20001250          3012         1
4 S20001250          3887         1
5 S20001250          3665         1
6 S20001250          3665         1
  UrbanRural8Fold2016Code
1 1
2 1
3 1
4 1
5 1
6 1

  Postcode DateOfDeletion     LinkedSmallUserPostcode CouncilArea2019Code
1 ZE2 9WX  11/4/2008 00:00:00 NO LINKP                S12000027
2 ZE2 9WY  4/7/2007 00:00:00  NO LINKP                S12000027
3 ZE2 9YL  11/4/2019 00:00:00 NO LINKP                S12000027
4 ZE2 9YN  3/5/2011 00:00:00  NO LINKP                S12000027
5 ZE2 9YP  9/7/2004 00:00:00  NO LINKP                S12000027
6 ZE2 9YQ  25/5/2006 00:00:00 NO LINKP                S12000027
  Settlement2016Code SIMD2020Rank UrbanRural6Fold2016Code
1 S20001334          4698         4
2 S20001334          4698         4
3 NA                 3814         6
4 S20001334          4698         4
5 NA                 4509         6
6 S20001334          4698         4
  UrbanRural8Fold2016Code
1 5
2 5
3 8
4 5
5 8
6 5

In [47]:
postcode_lookup <- postcode_lookup %>%

    filter(is.na(DateOfDeletion)) %>%
    filter(Postcode %in% levels(centre_postcodes$Postcode)) %>%

    bind_rows(postcode_lookup %>%
                filter(Postcode %in% levels(centre_postcodes$Postcode)) %>%
                filter(!is.na(DateOfDeletion)) 
    ) %>%
    bind_rows(postcode_lookup %>%
                filter(Postcode %in% levels(centre_postcodes$Postcode)) %>%
                filter(!is.na(DateOfDeletion)) %>%
                distinct(LinkedSmallUserPostcode) %>%
                rename(Postcode = LinkedSmallUserPostcode) %>%

                left_join(postcode_lookup) %>%
                filter(!is.na(Postcode)) 
    ) %>%
        
    distinct() %>%
    glimpse()

Joining, by = "Postcode"

Rows: 964
Columns: 8
$ Postcode                <chr> "AB11 6DY", "AB11 6ET", "AB11 8HD", "AB12 3AL"…
$ DateOfDeletion          <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ LinkedSmallUserPostcode <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ CouncilArea2019Code     <fct> S12000033, S12000033, S12000033, S12000033, S1…
$ Settlement2016Code      <fct> S20001020, S20001020, S20001020, S20001020, S2…
$ SIMD2020Rank            <chr> "2720", "2720", "1300", "2241", "5522", "2241"…
$ UrbanRural6Fold2016Code <fct> 1, 1, 1, 1, 1, 1, 3, 3, 3, 1, 5, 1, 1, 1, 1, 1…
$ UrbanRural8Fold2016Code <fct> 1, 1, 1, 1, 1, 1, 3, 3, 3, 1, 6, 1, 1, 1, 1, 1…

In [48]:
centre_postcodes %>%
    filter(Country == "Scotland") %>%
    filter(!(Postcode %in% 
              (postcode_lookup %>%
                   filter(is.na(DateOfDeletion)) %>%
                   distinct(Postcode) %>%
                   deframe()))) %>%
    select(EducationAuthority, Centre, CentreName, Postcode, starts_with("UrbanRural")) %>%
    distinct()

   EducationAuthority                               Centre
1  NA                                               3009084
2  NA                                               4196775
3  Perth & Kinross Council Education Department     5349834
4  Independent                                      5780136
5  Renfrewshire Council Education Department        8631344
6  NA                                               3001024
7  NA                                               3006166
8  NA                                               3012743
9  NA                                               4197437
10 Highland Council Education Department            5135532
11 NA                                               5294738
12 Fife Council Education Department                5406331
13 West Lothian Council Education Department        5511844
14 NA                                               5590183
15 Dumfries & Galloway Council Education Department 5939534
16 Inverclyde Council Education Department          8645434
17 NA                                               8694036
18 Orkney Islands Council Education Department      6003230
   CentreName                                             Postcode
1  Ageas Retail Ltd                                       G71 5PU
2  Forward Training Partnership                           EH54 6NG
3  Breadalbane Academy                                    PH15 2DU
4  Beaconhurst School                                     FK9 4RR
5  Kersland School                                        PA2 7BU
6  Calder Associates (Scotland) Limited                   KY12 OQX
7  Ritchies Training Centre                               G21 4AU
8  Fitness Training Scotland                              KA1 9GX
9  Training Matters (Scotland) Limited                    G52 4RU
10 Kinlochleven High School                               PH50 4QE
11 Aberdeen City Council                                  AB15 5PD
12 Buckhaven High School                                  KY8 1HL
13 Cedarbank School                                       EH54 6FW
14 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
15 North West Community Campus                            DG2 9DY
16 St Columba's High School (Gourock)                     PA19 1TP
17 East Renfrewshire Council                              G78 2QY
18 Sanday Secondary School                                SG19 1BL
   UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1  1                   1                   2
2  1                   1                   2
3  2                   3                   6
4  1                   1                   2
5  1                   1                   1
6  NA                  NA                  NA
7  1                   1                   1
8  NA                  NA                  NA
9  NA                  NA                  NA
10 2                   3                   6
11 NA                  NA                  NA
12 1                   1                   2
13 NA                  NA                  NA
14 NA                  NA                  NA
15 1                   1                   2
16 1                   1                   2
17 1                   1                   2
18 NA                  NA                  NA
   UrbanRural8FoldCode
1  2
2  2
3  7
4  2
5  1
6  NA
7  1
8  NA
9  NA
10 7
11 NA
12 2
13 NA
14 NA
15 2
16 2
17 2
18 NA

In [49]:
centre_postcodes %>%
    filter(Country == "Scotland") %>%
    filter(!(Postcode %in% 
              (postcode_lookup %>%
                   filter(is.na(DateOfDeletion)) %>%
                   distinct(Postcode) %>%
                   deframe()))) %>%
    select(EducationAuthority, Centre, CentreName, Postcode, starts_with("UrbanRural")) %>%
    distinct() %>%

    left_join(postcode_lookup %>%
                  filter(LinkedSmallUserPostcode != "NO LINKP") %>%
                  select(Postcode, DateOfDeletion, LinkedSmallUserPostcode) 
    ) %>%

    left_join(postcode_lookup %>%
                  select(Postcode, contains(c("CouncilArea2019", "Settlement2016", "SIMD2020", "UrbanRural"))),
              by = c("LinkedSmallUserPostcode" = "Postcode")
    )

Joining, by = "Postcode"

   EducationAuthority                               Centre
1  NA                                               3009084
2  NA                                               4196775
3  Perth & Kinross Council Education Department     5349834
4  Independent                                      5780136
5  Renfrewshire Council Education Department        8631344
6  NA                                               3001024
7  NA                                               3006166
8  NA                                               3006166
9  NA                                               3012743
10 NA                                               4197437
11 Highland Council Education Department            5135532
12 NA                                               5294738
13 Fife Council Education Department                5406331
14 West Lothian Council Education Department        5511844
15 NA                                               5590183
16 Dumfries & Galloway Council Education Department 5939534
17 Inverclyde Council Education Department          8645434
18 NA                                               8694036
19 Orkney Islands Council Education Department      6003230
   CentreName                                             Postcode
1  Ageas Retail Ltd                                       G71 5PU
2  Forward Training Partnership                           EH54 6NG
3  Breadalbane Academy                                    PH15 2DU
4  Beaconhurst School                                     FK9 4RR
5  Kersland School                                        PA2 7BU
6  Calder Associates (Scotland) Limited                   KY12 OQX
7  Ritchies Training Centre                               G21 4AU
8  Ritchies Training Centre                               G21 4AU
9  Fitness Training Scotland                              KA1 9GX
10 Training Matters (Scotland) Limited                    G52 4RU
11 Kinlochleven High School                               PH50 4QE
12 Aberdeen City Council                                  AB15 5PD
13 Buckhaven High School                                  KY8 1HL
14 Cedarbank School                                       EH54 6FW
15 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
16 North West Community Campus                            DG2 9DY
17 St Columba's High School (Gourock)                     PA19 1TP
18 East Renfrewshire Council                              G78 2QY
19 Sanday Secondary School                                SG19 1BL
   UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1  1                   1                   2
2  1                   1                   2
3  2                   3                   6
4  1                   1                   2
5  1                   1                   1
6  NA                  NA                  NA
7  1                   1                   1
8  1                   1                   1
9  NA                  NA                  NA
10 NA                  NA                  NA
11 2                   3                   6
12 NA                  NA                  NA
13 1                   1                   2
14 NA                  NA                  NA
15 NA                  NA                  NA
16 1                   1                   2
17 1                   1                   2
18 1                   1                   2
19 NA                  NA                  NA
   UrbanRural8FoldCode DateOfDeletion      LinkedSmallUserPostcode
1  2                   29/10/2018 00:00:00 G71 5PD
2  2                   NA                  NA
3  7                   NA                  NA
4  2                   24/7/2019 00:00:00  FK9 4RS
5  1                   NA                  NA
6  NA                  NA                  NA
7  1                   19/7/2016 00:00:00  G21 4AQ
8  1                   19/7/2016 00:00:00  G21 4AQ
9  NA                  NA                  NA
10 NA                  NA                  NA
11 7                   1/10/2008 00:00:00  PH50 4QL
12 NA                  NA                  NA
13 2                   19/10/2016 00:00:00 KY8 1EA
14 NA                  NA                  NA
15 NA                  NA                  NA
16 2                   1/9/1995 00:00:00   DG2 9DX
17 2                   13/10/2011 00:00:00 PA19 1TN
18 2                   17/10/2013 00:00:00 G78 2RA
19 NA                  NA                  NA
   CouncilArea2019Code Settlement2016Code SIMD2020Rank UrbanRural6Fold2016Code
1  S12000050           S20001383          4374         2
2  NA                  NA                 NA           NA
3  NA                  NA                 NA           NA
4  S12000030           S20001477          6921         2
5  NA                  NA                 NA           NA
6  NA                  NA                 NA           NA
7  S12000049           S20001250          0678         1
8  S12000049           S20001250          0678         1
9  NA                  NA                 NA           NA
10 NA                  NA                 NA           NA
11 S12000017           S20001305          2290         6
12 NA                  NA                 NA           NA
13 S12000047           S20001368          1036         2
14 NA                  NA                 NA           NA
15 NA                  NA                 NA           NA
16 S12000006           S20001177          1711         2
17 S12000018           S20001252          4533         2
18 S12000011           S20001066          1215         2
19 NA                  NA                 NA           NA
   UrbanRural8Fold2016Code
1  2
2  NA
3  NA
4  2
5  NA
6  NA
7  1
8  1
9  NA
10 NA
11 7
12 NA
13 2
14 NA
15 NA
16 2
17 2
18 2
19 NA

In [50]:
centre_postcodes %>%
    filter((Country == "Scotland") & if_all(starts_with("UrbanRural"), is.na)) %>%
    select(contains(c("Authority", "Centre")), Postcode) %>%
    distinct() %>%
    arrange(EducationAuthority)

   EducationAuthority                               Centre
1  Dumfries & Galloway Council Education Department 1004620
2  Dumfries & Galloway Council Education Department 5940745
3  Midlothian Council Education Department          5546036
4  North Ayrshire Council Education Department      1005405
5  North Ayrshire Council Education Department      8215839
6  Orkney Islands Council Education Department      6003230
7  Perth & Kinross Council Education Department     1004743
8  West Lothian Council Education Department        5502330
9  West Lothian Council Education Department        5511844
10 NA                                               3000451
11 NA                                               3001024
12 NA                                               3012743
13 NA                                               3012808
14 NA                                               3023486
15 NA                                               4197437
16 NA                                               5294738
17 NA                                               5590183
18 NA                                               5592631
   CentreName                                             Postcode
1  North West Community Campus                            DG2 9DF
2  Langlands School                                       DG2 9DF
3  Newbattle High School                                  EH22 4SX
4  Lockhart Campus                                        KA20 3JX
5  Largs Academy                                          KA30 9DR
6  Sanday Secondary School                                SG19 1BL
7  Bertha Park High School                                PH1 0AU
8  West Calder High School                                EH55 8BF
9  Cedarbank School                                       EH54 6FW
10 Rewards Training                                       G2 3BZ
11 Calder Associates (Scotland) Limited                   KY12 OQX
12 Fitness Training Scotland                              KA1 9GX
13 Alma Care Training                                     G72 6AN
14 Lead Scotland                                          EH5 2FF
15 Training Matters (Scotland) Limited                    G52 4RU
16 Aberdeen City Council                                  AB15 5PD
17 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
18 Workers Educational Association                        EH5 2FF

In [51]:
# fill in remaining blanks... 

centre_postcodes %>%
    filter((Country == "Scotland") & if_any(starts_with("UrbanRural"), is.na)) %>%
    select(- starts_with("UrbanRural")) %>%
    
    filter(Postcode %in% 
              (postcode_lookup %>%
                   filter(is.na(DateOfDeletion)) %>%
                   distinct(Postcode) %>%
                   deframe())) %>%

    left_join(postcode_lookup %>%
                  select(Postcode, contains(c("CouncilArea2019", "Settlement2016", "IndexOfMultipleDeprivation", "UrbanRural")))
             ) %>%
    rename_with(~ str_replace(., "2016", ""), starts_with("UrbanRural")) %>%
    

    left_join(sg_6_fold_urban_rural_classification %>%
                  select(- Description)) %>%
    left_join(sg_8_fold_urban_rural_classification %>%
                 select(- Description)) %>%

    select(EducationAuthority, Centre, CentreName, Postcode, contains(c("CouncilArea2019", "Settlement2016", "IndexOfMultipleDeprivation", "UrbanRural")))

Joining, by = "Postcode"
Joining, by = "UrbanRural6FoldCode"
Joining, by = "UrbanRural8FoldCode"

   EducationAuthority                               Centre
1  Dumfries & Galloway Council Education Department 1004620
2  Perth & Kinross Council Education Department     1004743
3  North Ayrshire Council Education Department      1005405
4  NA                                               3000451
5  NA                                               3000451
6  NA                                               3012808
7  NA                                               3023486
8  West Lothian Council Education Department        5502330
9  Midlothian Council Education Department          5546036
10 NA                                               5592631
11 Dumfries & Galloway Council Education Department 5940745
12 North Ayrshire Council Education Department      8215839
   CentreName                      Postcode CouncilArea2019Code
1  North West Community Campus     DG2 9DF  S12000006
2  Bertha Park High School         PH1 0AU  S12000048
3  Lockhart Campus                 KA20 3JX S12000021
4  Rewards Training                G2 3BZ   S12000049
5  Rewards Training                G2 3BZ   S12000049
6  Alma Care Training              G72 6AN  S12000029
7  Lead Scotland                   EH5 2FF  S12000036
8  West Calder High School         EH55 8BF S12000040
9  Newbattle High School           EH22 4SX S12000019
10 Workers Educational Association EH5 2FF  S12000036
11 Langlands School                DG2 9DF  S12000006
12 Largs Academy                   KA30 9DR S12000021
   Settlement2016Code UrbanRural6FoldCode UrbanRural8FoldCode
1  S20001177          2                   2
2  NA                 5                   6
3  S20001453          2                   2
4  S20001250          1                   1
5  S20001250          1                   1
6  S20001250          1                   1
7  S20001198          1                   1
8  NA                 5                   6
9  S20001082          2                   2
10 S20001198          1                   1
11 S20001177          2                   2
12 NA                 5                   6
   UrbanRural6FoldClassification UrbanRural8FoldClassification
1  Other Urban Areas             Other Urban Areas
2  Accessible Rural              Accessible Rural Areas
3  Other Urban Areas             Other Urban Areas
4  Large Urban Areas             Large Urban Areas
5  Large Urban Areas             Large Urban Areas
6  Large Urban Areas             Large Urban Areas
7  Large Urban Areas             Large Urban Areas
8  Accessible Rural              Accessible Rural Areas
9  Other Urban Areas             Other Urban Areas
10 Large Urban Areas             Large Urban Areas
11 Other Urban Areas             Other Urban Areas
12 Accessible Rural              Accessible Rural Areas

In [52]:
postcode_lookup %>%
    anti_join(sg_urban_rural_classification_postcode_lookup) %>%
    rename_with(~ gsub("^(UrbanRural\\dFold)(\\d+)(C\\w+)", "\\1\\3", ., ignore.case = TRUE)) %>%

    left_join(sg_urban_rural_classification_postcode_lookup %>%
                  distinct(across(matches("^UrbanRural\\d"))) %>%
                  drop_na()
             ) %>%
    distinct(across(matches("^(UrbanRural\\dFold)"))) %>%
    relocate(UrbanRural2FoldCode, UrbanRural3FoldCode)

sg_urban_rural_classification_postcode_lookup %>%
    distinct(across(matches("^(UrbanRural\\dFold)")))

Joining, by = "Postcode"
Joining, by = c("UrbanRural6FoldCode", "UrbanRural8FoldCode")

  UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1 1                   1                   2
2 1                   1                   1
3 2                   2                   5
  UrbanRural8FoldCode
1 2
2 1
3 6

  UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1 1                   1                   1
2 1                   1                   3
3 2                   2                   5
4 1                   1                   2
5 2                   3                   6
6 1                   1                   4
7 1                   1                   4
8 2                   3                   6
9 NA                  NA                  NA
  UrbanRural8FoldCode
1 1
2 3
3 6
4 2
5 7
6 4
7 5
8 8
9 NA

In [53]:
postcode_lookup %>%
    anti_join(sg_urban_rural_classification_postcode_lookup) %>%
    rename_with(~ gsub("^(UrbanRural\\dFold)(\\d+)(C\\w+)", "\\1\\3", ., ignore.case = TRUE)) %>%

    left_join(sg_urban_rural_classification_postcode_lookup %>%
                  distinct(across(matches("^UrbanRural\\d"))) %>%
                  drop_na()
             ) %>%
    relocate(UrbanRural2FoldCode, UrbanRural3FoldCode, .before = UrbanRural6FoldCode)

Joining, by = "Postcode"
Joining, by = c("UrbanRural6FoldCode", "UrbanRural8FoldCode")

   Postcode DateOfDeletion LinkedSmallUserPostcode CouncilArea2019Code
1  DG2 9DF  NA             NA                      S12000006
2  EH22 4SX NA             NA                      S12000019
3  EH5 2FF  NA             NA                      S12000036
4  EH55 8BF NA             NA                      S12000040
5  G72 6AN  NA             NA                      S12000029
6  KA20 3JX NA             NA                      S12000021
7  KA30 9DR NA             NA                      S12000021
8  PH1 0AU  NA             NA                      S12000048
9  FK9 4RS  NA             NA                      S12000030
10 G71 5PD  NA             NA                      S12000050
   Settlement2016Code SIMD2020Rank UrbanRural2FoldCode UrbanRural3FoldCode
1  S20001177          0455         1                   1
2  S20001082          5532         1                   1
3  S20001198          6707         1                   1
4  NA                 3691         2                   2
5  S20001250          5336         1                   1
6  S20001453          2407         1                   1
7  NA                 3129         2                   2
8  NA                 4624         2                   2
9  S20001477          6921         1                   1
10 S20001383          4374         1                   1
   UrbanRural6FoldCode UrbanRural8FoldCode
1  2                   2
2  2                   2
3  1                   1
4  5                   6
5  1                   1
6  2                   2
7  5                   6
8  5                   6
9  2                   2
10 2                   2

In [54]:
postcode_lookup %>%
    filter(Postcode == "G2 3BZ")

  Postcode DateOfDeletion    LinkedSmallUserPostcode CouncilArea2019Code
1 G2 3BZ   NA                NA                      S12000049
2 G2 3BZ   9/7/2015 00:00:00 NA                      S12000049
  Settlement2016Code SIMD2020Rank UrbanRural6Fold2016Code
1 S20001250          2198         1
2 S20001250          2198         1
  UrbanRural8Fold2016Code
1 1
2 1

In [55]:
tmp_df <- centre_postcodes %>%
    filter((Country == "Scotland") & if_any(matches("^UrbanRural\\d"), is.na))

tmp_df <- tmp_df %>%
    select(- starts_with("UrbanRural")) %>%

    filter(Postcode %in% 
              (postcode_lookup %>%
                   filter(is.na(DateOfDeletion)) %>%
                   distinct(Postcode) %>%
                   deframe())) %>%

    left_join(postcode_lookup %>%
                  filter(is.na(DateOfDeletion)) %>%
                  select(Postcode, LinkedSmallUserPostcode, matches("^UrbanRural\\d"))
             ) %>%
    rename_with(~ str_replace(., "2016", ""), matches("^UrbanRural\\d")) %>%

    rename_with(~ gsub("^(UrbanRural\\dFold)(\\d+)(C\\w+)", "\\1\\3", ., ignore.case = TRUE)) %>%

    left_join(sg_urban_rural_classification_postcode_lookup %>%
                  distinct(across(matches("^UrbanRural\\d"))) %>%
                  drop_na()
             ) 

tmp_df %>%
    select(matches("^(Centre|Postcode|UrbanRural)"))

centre_postcodes %>%
    filter((Country == "Scotland") & if_any(matches("^UrbanRural\\d"), is.na)) %>%

    anti_join(tmp_df, by = "Centre"
             ) %>%
    select(matches("^(Centre|Postcode|UrbanRural)"))

centre_postcodes %>%
    filter((Country == "Scotland") & if_any(matches("^UrbanRural\\d"), is.na))  %>%
    select(- matches("UrbanRural|DateOfDeletion")) %>%

    inner_join(postcode_lookup %>%
                   filter(!is.na(DateOfDeletion)) %>%
                   distinct()
             )

Joining, by = "Postcode"
Joining, by = c("UrbanRural6FoldCode", "UrbanRural8FoldCode")

   Centre  CentreName                      Postcode UrbanRural6FoldCode
1  1004620 North West Community Campus     DG2 9DF  2
2  1004743 Bertha Park High School         PH1 0AU  5
3  1005405 Lockhart Campus                 KA20 3JX 2
4  3000451 Rewards Training                G2 3BZ   1
5  3012808 Alma Care Training              G72 6AN  1
6  3023486 Lead Scotland                   EH5 2FF  1
7  5502330 West Calder High School         EH55 8BF 5
8  5546036 Newbattle High School           EH22 4SX 2
9  5592631 Workers Educational Association EH5 2FF  1
10 5940745 Langlands School                DG2 9DF  2
11 8215839 Largs Academy                   KA30 9DR 5
   UrbanRural8FoldCode UrbanRural2FoldCode UrbanRural3FoldCode
1  2                   1                   1
2  6                   2                   2
3  2                   1                   1
4  1                   1                   1
5  1                   1                   1
6  1                   1                   1
7  6                   2                   2
8  2                   1                   1
9  1                   1                   1
10 2                   1                   1
11 6                   2                   2

  Centre  CentreName                                             Postcode
1 3001024 Calder Associates (Scotland) Limited                   KY12 OQX
2 3012743 Fitness Training Scotland                              KA1 9GX
3 4197437 Training Matters (Scotland) Limited                    G52 4RU
4 5294738 Aberdeen City Council                                  AB15 5PD
5 5511844 Cedarbank School                                       EH54 6FW
6 5590183 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
7 6003230 Sanday Secondary School                                SG19 1BL
  UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1 NA                  NA                  NA
2 NA                  NA                  NA
3 NA                  NA                  NA
4 NA                  NA                  NA
5 NA                  NA                  NA
6 NA                  NA                  NA
7 NA                  NA                  NA
  UrbanRural8FoldCode
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA
7 NA

Joining, by = "Postcode"

  Centre  CentreName                          Postcode EducationAuthority
1 3000451 Rewards Training                    G2 3BZ   NA
2 4197437 Training Matters (Scotland) Limited G52 4RU  NA
3 5294738 Aberdeen City Council               AB15 5PD NA
  GeoArea       Country  LinkPostcode DateOfDeletion    LinkedSmallUserPostcode
1 Glasgow City  Scotland NA           9/7/2015 00:00:00 NA
2 Glasgow City  Scotland NA           3/6/2008 00:00:00 NA
3 Aberdeen City Scotland NA           9/7/2015 00:00:00 NA
  CouncilArea2019Code Settlement2016Code SIMD2020Rank UrbanRural6Fold2016Code
1 S12000049           S20001250          2198         1
2 S12000049           S20001250          1610         1
3 S12000033           S20001020          4724         1
  UrbanRural8Fold2016Code
1 1
2 1
3 1

In [56]:
tmp_df %>%
    bind_rows(centre_postcodes %>%
                filter((Country == "Scotland") & if_any(matches("^UrbanRural\\d"), is.na)) %>%
                select(- starts_with("UrbanRural")) %>%

                anti_join(tmp_df, by = "Centre"
                         ) %>%
                
                left_join(postcode_lookup %>%
                              filter(!is.na(DateOfDeletion)) %>%
                              select(Postcode, LinkedSmallUserPostcode)) %>%

                left_join(postcode_lookup %>%
                              filter(is.na(DateOfDeletion)) %>%
                              select(Postcode, matches("UrbanRural")),
                          by = c("LinkedSmallUserPostcode" = "Postcode")
                         ) %>% 
              
                rename_with(~ str_replace(., "2016", ""), matches("^UrbanRural\\d")) %>%

                rename_with(~ gsub("^(UrbanRural\\dFold)(\\d+)(C\\w+)", "\\1\\3", ., ignore.case = TRUE)) %>%

                left_join(sg_urban_rural_classification_postcode_lookup %>%
                              distinct(across(matches("^UrbanRural\\d"))) %>%
                              drop_na()
                         ) 
                )

Joining, by = "Postcode"
Joining, by = c("UrbanRural6FoldCode", "UrbanRural8FoldCode")

   Centre  CentreName                                             Postcode
1  1004620 North West Community Campus                            DG2 9DF
2  1004743 Bertha Park High School                                PH1 0AU
3  1005405 Lockhart Campus                                        KA20 3JX
4  3000451 Rewards Training                                       G2 3BZ
5  3012808 Alma Care Training                                     G72 6AN
6  3023486 Lead Scotland                                          EH5 2FF
7  5502330 West Calder High School                                EH55 8BF
8  5546036 Newbattle High School                                  EH22 4SX
9  5592631 Workers Educational Association                        EH5 2FF
10 5940745 Langlands School                                       DG2 9DF
11 8215839 Largs Academy                                          KA30 9DR
12 3001024 Calder Associates (Scotland) Limited                   KY12 OQX
13 3012743 Fitness Training Scotland                              KA1 9GX
14 4197437 Training Matters (Scotland) Limited                    G52 4RU
15 5294738 Aberdeen City Council                                  AB15 5PD
16 5511844 Cedarbank School                                       EH54 6FW
17 5590183 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
18 6003230 Sanday Secondary School                                SG19 1BL
   EducationAuthority                               GeoArea
1  Dumfries & Galloway Council Education Department Dumfries & Galloway
2  Perth & Kinross Council Education Department     Perth & Kinross
3  North Ayrshire Council Education Department      North Ayrshire
4  NA                                               Glasgow City
5  NA                                               South Lanarkshire
6  NA                                               City of Edinburgh
7  West Lothian Council Education Department        West Lothian
8  Midlothian Council Education Department          Midlothian
9  NA                                               City of Edinburgh
10 Dumfries & Galloway Council Education Department Dumfries & Galloway
11 North Ayrshire Council Education Department      North Ayrshire
12 NA                                               Fife
13 NA                                               East Ayrshire
14 NA                                               Glasgow City
15 NA                                               Aberdeen City
16 West Lothian Council Education Department        West Lothian
17 NA                                               Midlothian
18 Orkney Islands Council Education Department      Orkney Islands
   Country  LinkPostcode LinkedSmallUserPostcode UrbanRural6FoldCode
1  Scotland NA           NA                      2
2  Scotland NA           NA                      5
3  Scotland NA           NA                      2
4  Scotland NA           NA                      1
5  Scotland NA           NA                      1
6  Scotland NA           NA                      1
7  Scotland NA           NA                      5
8  Scotland NA           NA                      2
9  Scotland NA           NA                      1
10 Scotland NA           NA                      2
11 Scotland NA           NA                      5
12 Scotland NA           NA                      NA
13 Scotland NA           NA                      NA
14 Scotland NA           NA                      NA
15 Scotland NA           NA                      NA
16 Scotland NA           NA                      NA
17 Scotland NA           NA                      NA
18 Scotland NA           NA                      NA
   UrbanRural8FoldCode UrbanRural2FoldCode UrbanRural3FoldCode
1  2                   1                   1
2  6                   2                   2
3  2                   1                   1
4  1                   1                   1
5  1                   1                   1
6  1                   1                   1
7  6                   2                   2
8  2                   1                   1
9  1                   1                   1
10 2                   1                   1
11 6                   2                   2
12 NA                  NA                  NA
13 NA                  NA                  NA
14 NA                  NA                  NA
15 NA                  NA                  NA
16 NA                  NA                  NA
17 NA                  NA                  NA
18 NA                  NA                  NA

In [57]:
# fill in remaining blanks... 

centre_postcodes <- centre_postcodes %>%
    filter((Country != "Scotland") | if_all(starts_with("UrbanRural"), ~ !is.na(.))) %>%

    rbind(tmp_df %>%
                bind_rows(centre_postcodes %>%
                            filter((Country == "Scotland") & if_any(matches("^UrbanRural\\d"), is.na)) %>%
                            select(- starts_with("UrbanRural")) %>%

                            anti_join(tmp_df, by = "Centre"
                                     ) %>%

                            left_join(postcode_lookup %>%
                                          filter(!is.na(DateOfDeletion)) %>%
                                          select(Postcode, LinkedSmallUserPostcode)) %>%

                            left_join(postcode_lookup %>%
                                          filter(is.na(DateOfDeletion)) %>%
                                          select(Postcode, matches("UrbanRural")),
                                      by = c("LinkedSmallUserPostcode" = "Postcode")
                                     ) %>% 

                            rename_with(~ str_replace(., "2016", ""), matches("^UrbanRural\\d")) %>%

                            rename_with(~ gsub("^(UrbanRural\\dFold)(\\d+)(C\\w+)", "\\1\\3", ., ignore.case = TRUE)) %>%

                            left_join(sg_urban_rural_classification_postcode_lookup %>%
                                          distinct(across(matches("^UrbanRural\\d"))) %>%
                                          drop_na()
                                     ) 
                            ) %>%
                select(names(centre_postcodes)) 
              
             ) %>%

    glimpse()

Joining, by = "Postcode"
Joining, by = c("UrbanRural6FoldCode", "UrbanRural8FoldCode")

Rows: 1,002
Columns: 11
$ Centre              <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 10029…
$ CentreName          <fct> "Firpark Secondary School", "Buchanan High School"…
$ Postcode            <fct> ML1 2PR, ML5 2HT, G67 2UF, KA13 6DE, DD3 8LE, EH11…
$ EducationAuthority  <fct> North Lanarkshire Council Education Department, No…
$ GeoArea             <fct> North Lanarkshire, North Lanarkshire, North Lanark…
$ Country             <fct> Scotland, Scotland, Scotland, Scotland, Scotland, …
$ UrbanRural2FoldCode <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,…
$ UrbanRural3FoldCode <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,…
$ UrbanRural6FoldCode <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 5, 2, 1, 2, 1, 1,…
$ UrbanRural8FoldCode <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 6, 2, 1, 2, 1, 1,…
$ LinkPostcode        <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…

#### END &ndash; "external data" &ndash; urban/rural classification

### SIMD
* using the Scottish Index of Multiple Deprivation 2020 rankings

In [58]:
postcode_lookup %>%
    select(Postcode, SIMD2020Rank, DateOfDeletion, LinkedSmallUserPostcode) %>%
    group_by(Postcode, SIMD2020Rank) %>%
    add_tally() %>%
    filter(n > 1) %>%
    #arrange(Postcode, desc(DateOfDeletion), SIMD2020Rank)
    distinct(Postcode) %>%
    nrow()

postcode_lookup %>%
    select(Postcode, SIMD2020Rank, DateOfDeletion, LinkedSmallUserPostcode) %>%
    group_by(Postcode, SIMD2020Rank, DateOfDeletion) %>%
    add_tally() %>%
    filter(n > 1)

[1] 71

     Postcode SIMD2020Rank DateOfDeletion LinkedSmallUserPostcode n

In [59]:
centre_postcodes <- centre_postcodes %>%
    left_join(postcode_lookup %>%
                  filter(is.na(DateOfDeletion)) %>%
                  select(Postcode, SIMD2020Rank) 
             )

centre_postcodes %>%
    filter((Country == "Scotland") & is.na(SIMD2020Rank)) %>%
    distinct(EducationAuthority, Centre, CentreName, Postcode)

Joining, by = "Postcode"

   Centre  CentreName                                             Postcode
1  3009084 Ageas Retail Ltd                                       G71 5PU
2  4196775 Forward Training Partnership                           EH54 6NG
3  5349834 Breadalbane Academy                                    PH15 2DU
4  5780136 Beaconhurst School                                     FK9 4RR
5  8631344 Kersland School                                        PA2 7BU
6  3006166 Ritchies Training Centre                               G21 4AU
7  5135532 Kinlochleven High School                               PH50 4QE
8  5406331 Buckhaven High School                                  KY8 1HL
9  5939534 North West Community Campus                            DG2 9DY
10 8645434 St Columba's High School (Gourock)                     PA19 1TP
11 8694036 East Renfrewshire Council                              G78 2QY
12 3001024 Calder Associates (Scotland) Limited                   KY12 OQX
13 3012743 Fitness Training Scotland                              KA1 9GX
14 4197437 Training Matters (Scotland) Limited                    G52 4RU
15 5294738 Aberdeen City Council                                  AB15 5PD
16 5511844 Cedarbank School                                       EH54 6FW
17 5590183 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
18 6003230 Sanday Secondary School                                SG19 1BL
   EducationAuthority
1  NA
2  NA
3  Perth & Kinross Council Education Department
4  Independent
5  Renfrewshire Council Education Department
6  NA
7  Highland Council Education Department
8  Fife Council Education Department
9  Dumfries & Galloway Council Education Department
10 Inverclyde Council Education Department
11 NA
12 NA
13 NA
14 NA
15 NA
16 West Lothian Council Education Department
17 NA
18 Orkney Islands Council Education Department

In [60]:
tmp_df <- centre_postcodes %>%
    filter((Country == "Scotland") & is.na(SIMD2020Rank)) %>%
    select(- SIMD2020Rank) %>%

    left_join(postcode_lookup %>%
                  filter(!is.na(DateOfDeletion) & (LinkedSmallUserPostcode != "NO LINKP")) %>%
                  distinct(Postcode, LinkedSmallUserPostcode) 
             ) %>%

    left_join(postcode_lookup %>%
                  distinct(Postcode, SIMD2020Rank),
              by = c("LinkedSmallUserPostcode" = "Postcode")
    )

# remaining matches not in use anywhere else; use (deleted ranking)?
#tmp_df%>%
#    filter(!is.na(SIMD2020Rank)) %>%
#
#    bind_rows(tmp_df %>%
#
#                filter(is.na(SIMD2020Rank)) %>%
#                select(- SIMD2020Rank) %>%
#
#                left_join(postcode_lookup %>%
#                              select(Postcode, SIMD2020Rank) 
#                         )
#              )

Joining, by = "Postcode"

In [61]:
glimpse(centre_postcodes)

Rows: 1,002
Columns: 12
$ Centre              <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 10029…
$ CentreName          <fct> "Firpark Secondary School", "Buchanan High School"…
$ Postcode            <chr> "ML1 2PR", "ML5 2HT", "G67 2UF", "KA13 6DE", "DD3 …
$ EducationAuthority  <fct> North Lanarkshire Council Education Department, No…
$ GeoArea             <fct> North Lanarkshire, North Lanarkshire, North Lanark…
$ Country             <fct> Scotland, Scotland, Scotland, Scotland, Scotland, …
$ UrbanRural2FoldCode <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,…
$ UrbanRural3FoldCode <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1,…
$ UrbanRural6FoldCode <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 5, 2, 1, 2, 1, 1,…
$ UrbanRural8FoldCode <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 6, 2, 1, 2, 1, 1,…
$ LinkPostcode        <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ SIMD2020Rank        <chr> "6660", "0860", "1738", "0499", "6028", "2531", "2…

In [62]:
centre_postcodes <- centre_postcodes %>%
    filter((Country != "Scotland") | !is.na(SIMD2020Rank)) %>%
 
    bind_rows(centre_postcodes %>%
                filter((Country == "Scotland") & is.na(SIMD2020Rank)) %>%
                select(- SIMD2020Rank) %>%

                left_join(postcode_lookup %>%
                              filter(!is.na(DateOfDeletion) & (LinkedSmallUserPostcode != "NO LINKP")) %>%
                              distinct(Postcode, LinkedSmallUserPostcode) 
                         ) %>%

                left_join(postcode_lookup %>%
                              distinct(Postcode, SIMD2020Rank),
                          by = c("LinkedSmallUserPostcode" = "Postcode")
                )
             ) %>%
    relocate(SIMD2020Rank, .after = last_col()) %>%
    glimpse()


centre_postcodes %>%
    filter((Country == "Scotland") & is.na(SIMD2020Rank))

Joining, by = "Postcode"

Rows: 1,002
Columns: 13
$ Centre                  <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 1…
$ CentreName              <fct> "Firpark Secondary School", "Buchanan High Sch…
$ Postcode                <chr> "ML1 2PR", "ML5 2HT", "G67 2UF", "KA13 6DE", "…
$ EducationAuthority      <fct> North Lanarkshire Council Education Department…
$ GeoArea                 <fct> North Lanarkshire, North Lanarkshire, North La…
$ Country                 <fct> Scotland, Scotland, Scotland, Scotland, Scotla…
$ UrbanRural2FoldCode     <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1…
$ UrbanRural3FoldCode     <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1…
$ UrbanRural6FoldCode     <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 5, 2, 1, 2, 1…
$ UrbanRural8FoldCode     <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 6, 2, 1, 2, 1…
$ LinkPostcode            <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ LinkedSmallUserPostcode <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ SIMD2020Rank            <chr> "6660", "0860", "1738", "0499", "6028", "2531"…

   Centre  CentreName                                             Postcode
1  4196775 Forward Training Partnership                           EH54 6NG
2  5349834 Breadalbane Academy                                    PH15 2DU
3  8631344 Kersland School                                        PA2 7BU
4  3001024 Calder Associates (Scotland) Limited                   KY12 OQX
5  3012743 Fitness Training Scotland                              KA1 9GX
6  4197437 Training Matters (Scotland) Limited                    G52 4RU
7  5294738 Aberdeen City Council                                  AB15 5PD
8  5511844 Cedarbank School                                       EH54 6FW
9  5590183 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
10 6003230 Sanday Secondary School                                SG19 1BL
   EducationAuthority                           GeoArea         Country
1  NA                                           West Lothian    Scotland
2  Perth & Kinross Council Education Department Perth & Kinross Scotland
3  Renfrewshire Council Education Department    Renfrewshire    Scotland
4  NA                                           Fife            Scotland
5  NA                                           East Ayrshire   Scotland
6  NA                                           Glasgow City    Scotland
7  NA                                           Aberdeen City   Scotland
8  West Lothian Council Education Department    West Lothian    Scotland
9  NA                                           Midlothian      Scotland
10 Orkney Islands Council Education Department  Orkney Islands  Scotland
   UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1  1                   1                   2
2  2                   3                   6
3  1                   1                   1
4  NA                  NA                  NA
5  NA                  NA                  NA
6  NA                  NA                  NA
7  NA                  NA                  NA
8  NA                  NA                  NA
9  NA                  NA                  NA
10 NA                  NA                  NA
   UrbanRural8FoldCode LinkPostcode LinkedSmallUserPostcode SIMD2020Rank
1  2                   NA           NA                      NA
2  7                   NA           NA                      NA
3  1                   NA           NA                      NA
4  NA                  NA           NA                      NA
5  NA                  NA           NA                      NA
6  NA                  NA           NA                      NA
7  NA                  NA           NA                      NA
8  NA                  NA           NA                      NA
9  NA                  NA           NA                      NA
10 NA                  NA           NA                      NA

In [ ]:
***

In [84]:
centre_postcodes %>%
    filter(Country == "Scotland") %>%
    filter(is.na(SIMD2020Rank)) %>%
    distinct(Postcode, across(matches("Centre|UrbanRural8FoldCode|SIMD2020"))) %>%

    select(- SIMD2020Rank) %>%
    left_join(postcode_lookup %>%
                  distinct(Postcode, DateOfDeletion, SIMD2020Rank) 
             )

Joining, by = "Postcode"

   Centre  CentreName                                             Postcode
1  4196775 Forward Training Partnership                           EH54 6NG
2  5349834 Breadalbane Academy                                    PH15 2DU
3  8631344 Kersland School                                        PA2 7BU
4  3001024 Calder Associates (Scotland) Limited                   KY12 OQX
5  3012743 Fitness Training Scotland                              KA1 9GX
6  4197437 Training Matters (Scotland) Limited                    G52 4RU
7  5294738 Aberdeen City Council                                  AB15 5PD
8  5511844 Cedarbank School                                       EH54 6FW
9  5590183 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
10 6003230 Sanday Secondary School                                SG19 1BL
   UrbanRural8FoldCode SIMD2020RelativeRank SIMD2020Quintile DateOfDeletion
1  2                   NA                   NA               17/7/2020 00:00:00
2  7                   NA                   NA               28/4/2021 00:00:00
3  1                   NA                   NA               31/7/2018 00:00:00
4  NA                  NA                   NA               NA
5  NA                  NA                   NA               NA
6  NA                  NA                   NA               3/6/2008 00:00:00
7  NA                  NA                   NA               9/7/2015 00:00:00
8  NA                  NA                   NA               NA
9  NA                  NA                   NA               NA
10 NA                  NA                   NA               NA
   SIMD2020Rank
1  2131
2  4192
3  5744
4  NA
5  NA
6  1610
7  4724
8  NA
9  NA
10 NA

In [ ]:
***

In [63]:
centre_postcodes %>%
    filter(Country == "Scotland") %>%
    
    left_join(centre_postcodes %>%
                  filter(Country == "Scotland") %>%
                  arrange(SIMD2020Rank) %>%
                  mutate(SIMD2020RelativeRank = #row_number(),
                          rank(SIMD2020Rank, ties.method = "min", na.last = "keep"),
                        ) 
         ) %>%
    #relocate(SIMD2020Rank, .before = SIMD2020RelativeRank) 
    distinct(Postcode, across(matches("Centre|SIMD2020"))) %>%
    arrange(SIMD2020Rank)

Joining, by = c("Centre", "CentreName", "Postcode", "EducationAuthority", "GeoArea", "Country", "UrbanRural2FoldCode", "UrbanRural3FoldCode", "UrbanRural6FoldCode", "UrbanRural8FoldCode", "LinkPostcode", "LinkedSmallUserPostcode", "SIMD2020Rank")

    Centre  CentreName                                             Postcode
1   3003191 Inverclyde Council                                     PA15 1HU
2   8380040 Mirren Park School                                     PA3 1NS
3   3022749 Essentials Plus                                        KA21 5HN
4   8294933 Galloway Training Limited                              KA21 5DT
5   8438331 St Margaret Mary's Secondary School                    G45 9NJ
6   8442843 St Oswald's School                                     G45 9NJ
7   5532434 Craigroyston Community High School                     EH4 4NL
8   8443742 Newhills School                                        G33 4HJ
9   4199774 Craigend Resource Centre                               PA15 2HD
10  8431639 Springburn Academy                                     G21 4JL
11  3020002 First Steps Future Training                            G40 2QR
12  8438439 St Mungo's Academy                                     G40 2RA
13  8437238 St Andrew's Secondary School                           G32 6QE
14  3011178 Childcare Management Company Ltd                       G20 9AA
15  8260257 Ayrshire College Kilmarnock Campus                     KA1 3HY
16  8434034 Castlemilk High School                                 G45 9JY
17  8516839 Braidhurst High School                                 ML1 3XF
18  5407532 Kirkland High School                                   KY8 3LT
19  8498830 SHARE                                                  G22 5AZ
20  8459932 Drumchapel High School                                 G15 7SQ
21  4196325 Motherwell & Wishaw Citizens Advice Bureau             ML1 1LY
22  8628734 Paisley Grammar School                                 PA1 3RP
23  3011534 Pulteneytown Peoples Project                           KW1 5BA
24  2094363 Clackmannanshire Council                               FK10 1EB
25  5702534 Alloa Academy                                          FK10 1DN
26  3011623 Genius People                                          G33 1AN
27  8294437 North Ayrshire Council                                 KA12 8EE
28  8435731 Lochend Community High School                          G34 0NZ
29  3019551 VERG (Vocational Education Resource Group)             ML1 1PN
30  3003817 Albion Environmental Limited                           KA8 8ER
⋮   ⋮       ⋮                                                      ⋮
863 5143934 Culloden Academy                                       IV2 7JZ
864 8434638 Hyndland Secondary School                              G12 9RQ
865 8602239 Mearns Castle High School                              G77 5GU
866 5599733 Apex Trust Scotland                                    EH3 7TP
867 5329531 Harris Academy                                         DD2 1NL
868 8432236 Cleveden Secondary School                              G12 0JW
869 5232937 Westhill Academy                                       AB32 6XZ
870 5583438 Stewart's Melville College                             EH4 3EZ
871 8633436 Gryffe High School                                     PA6 7EB
872 5533139 James Gillespie's High School                          EH9 1DD
873 5329434 Grove Academy                                          DD5 1AB
874 3016013 5 Star Hospitality Training                            G66 4PA
875 3020703 GTS Solutions CIC                                      EH3 6RE
876 5726530 Wallace High School                                    FK9 5HW
877 5581036 Merchiston Castle School                               EH13 0PU
878 5581230 St George's School For Girls                           EH12 6BG
879 8680434 Belmont House School                                   G77 5DU
880 5780136 Beaconhurst School                                     FK9 4RR
881 5601932 Peebles High School                                    EH45 9HB
882 5583837 The Mary Erskine School                                EH4 3NT
883 4196775 Forward Training Partnership                           EH54 6NG
884 5349834 Breadalbane Academy                                    PH15 2DU
885 8631344 Kersland School                                        PA2 7BU
886 3001024 Calder Associates (Scotland) Limited                   KY12 OQX
887 3012743 Fitness Training Scotland                              KA1 9GX
888 4197437 Training Matters (Scotland) Limited                    G52 4RU
889 5294738 Aberdeen City Council                                  AB15 5PD
890 5511844 Cedarbank School                                       EH54 6FW
891 5590183 Midlothian Council - Communities and Lifelong Learning EH22 3ZG
892 6003230 Sanday Secondary School                                SG19 1BL
    SIMD2020Rank SIMD2020RelativeRank
1   0001          1
2   0004          2
3   0023          3
4   0023          3
5   0027          5
6   0027          5
7   0029          7
8   0046          8
9   0057          9
10  0075         10
11  0080         11
12  0080         11
13  0105         13
14  0135         14
15  0136         15
16  0138         16
17  0147         17
18  0148         18
19  0167         19
20  0168         20
21  0192         21
22  0203         22
23  0215         23
24  0221         24
25  0221         24
26  0242         26
27  0254         27
28  0255         28
29  0263         29
30  0265         30
⋮   ⋮            ⋮
863 6776         863
864 6781         864
865 6798         865
866 6805         866
867 6823         867
868 6829         868
869 6851         869
870 6852         870
871 6853         871
872 6864         872
873 6876         873
874 6883         874
875 6894         875
876 6909         876
877 6910         877
878 6911         878
879 6914         879
880 6921         880
881 6931         881
882 6966         882
883 NA            NA
884 NA            NA
885 NA            NA
886 NA            NA
887 NA            NA
888 NA            NA
889 NA            NA
890 NA            NA
891 NA            NA
892 NA            NA

In [64]:
dim(postcode_lookup)

range(postcode_lookup$SIMD2020Rank, na.rm = TRUE) # filtered
simd2020Rank_range
quantile(as.integer(range(simd2020Rank_range)), probs = seq(0, 1, 1/5))

[1] 964   8

[1] "0001" "6966"

[1] "0001" "6976"

  0%  20%  40%  60%  80% 100%
   1 1396 2791 4186 5581 6976

In [65]:
simd2020_quintiles <- enframe(quantile(as.integer(simd2020Rank_range), probs = seq(0, 1, 1/5))) %>%
    rename_with(~ c("quintile", "rank")) %>%
    mutate(across(quintile, ~ str_remove(., "%")), 
           across(quintile, as.integer), 
           across(quintile, ~ (. / 20)), 
           across(everything(), as.integer)
          ) %>%
    filter(quintile > 0)

simd2020_quintiles

  quintile rank
1 1        1395
2 2        2790
3 3        4186
4 4        5581
5 5        6976

In [66]:
getSimdQuintile <-
    function(value, quintiles) {
        
        if (is.na(value))
            return(NA)
        
        row_number <- min(which(value <= deframe(quintiles["rank"])))
        return(deframe(quintiles["quintile"])[[row_number]])
    }

#getSimdQuintile <- Vectorize(getSimdQuintile)

In [67]:
getSimdQuintile(6976, simd2020_quintiles)
getSimdQuintile(NA, simd2020_quintiles)

sapply(c(1743, 3336, 5367, 2530, 6146, 0027, 0023), getSimdQuintile, simd2020_quintiles)

[1] 5

[1] NA

[1] 2 3 4 2 5 1 1

In [68]:
centre_postcodes$SIMD2020Quintile <-
    sapply(centre_postcodes$SIMD2020Rank, 
           getSimdQuintile, 
           simd2020_quintiles)

head(centre_postcodes$SIMD2020Quintile, 15)

6660 0860 1738 0499 6028 2531 2414 0516 1202 1339 1036 4258 0733 2152 4461
   5    1    2    1    5    2    2    1    1    1    1    4    1    2    4

In [70]:
centre_postcodes <- centre_postcodes %>%
    
    left_join(centre_postcodes %>%
                  filter(Country == "Scotland") %>%
                  arrange(SIMD2020Rank) %>%
                  mutate(SIMD2020RelativeRank = #row_number(),
                          rank(SIMD2020Rank, ties.method = "min", na.last = "keep"),
                        ) 
         ) %>%
    relocate(SIMD2020Rank, SIMD2020RelativeRank, .before = SIMD2020Quintile) %>%
    glimpse()

centre_postcodes %>%
    group_by(SIMD2020Quintile) %>%
    slice_sample(n = 2)

Joining, by = c("Centre", "CentreName", "Postcode", "EducationAuthority", "GeoArea", "Country", "UrbanRural2FoldCode", "UrbanRural3FoldCode", "UrbanRural6FoldCode", "UrbanRural8FoldCode", "LinkPostcode", "LinkedSmallUserPostcode", "SIMD2020Rank", "SIMD2020Quintile")

Rows: 1,002
Columns: 15
$ Centre                  <fct> 1000144, 1001930, 1002732, 1002759, 1002856, 1…
$ CentreName              <fct> "Firpark Secondary School", "Buchanan High Sch…
$ Postcode                <chr> "ML1 2PR", "ML5 2HT", "G67 2UF", "KA13 6DE", "…
$ EducationAuthority      <fct> North Lanarkshire Council Education Department…
$ GeoArea                 <fct> North Lanarkshire, North Lanarkshire, North La…
$ Country                 <fct> Scotland, Scotland, Scotland, Scotland, Scotla…
$ UrbanRural2FoldCode     <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1…
$ UrbanRural3FoldCode     <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1…
$ UrbanRural6FoldCode     <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 5, 2, 1, 2, 1…
$ UrbanRural8FoldCode     <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 6, 2, 1, 2, 1…
$ LinkPostcode            <fct> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ LinkedSmallUserPostcode <chr> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA…
$ SIMD2020Rank            <chr> "6660", "0860", "1738", "0499", "6028", "2531"…
$ SIMD2020RelativeRank    <int> 846, 110, 213, 60, 786, 332, 316, 61, 152, 163…
$ SIMD2020Quintile        <int> 5, 1, 2, 1, 5, 2, 2, 1, 1, 1, 1, 4, 1, 2, 4, 1…

   Centre  CentreName                                 Postcode
1  8490732 MI Technologies Limited                    G51 4RY
2  4194640 Canongate Youth Project Limited            EH1 1LT
3  3005151 Azilo Training Ltd                         EH21 6RH
4  3003604 North Lanarkshire Council T/a Logintolearn ML2 7LP
5  3024105 Training Bees                              DG11 1NP
6  3023664 BB Training Academy                        EH54 6AX
7  3009084 Ageas Retail Ltd                           G71 5PU
8  5370035 The New School Butterstone                 PH2 9BT
9  8337632 Kirkintilloch High School                  G66 3PA
10 8533830 Strathaven Academy                         ML10 6DP
11 3020576 Xi'an Kedagaoxin University                710109
12 3024806 China University of Petroleum - Beijing    102249
   EducationAuthority                               GeoArea
1  NA                                               Glasgow City
2  NA                                               City of Edinburgh
3  NA                                               East Lothian
4  NA                                               North Lanarkshire
5  NA                                               Dumfries & Galloway
6  NA                                               West Lothian
7  NA                                               South Lanarkshire
8  Independent                                      Perth & Kinross
9  East Dunbartonshire Council Education Department East Dunbartonshire
10 South Lanarkshire Council Education Department   South Lanarkshire
11 NA                                               Far East
12 NA                                               Far East
   Country  UrbanRural2FoldCode UrbanRural3FoldCode UrbanRural6FoldCode
1  Scotland 1                   1                   1
2  Scotland 1                   1                   1
3  Scotland 1                   1                   1
4  Scotland 1                   1                   2
5  Scotland 2                   2                   5
6  Scotland 1                   1                   2
7  Scotland 1                   1                   2
8  Scotland 2                   2                   5
9  Scotland 1                   1                   2
10 Scotland 1                   1                   3
11 Other    NA                  NA                  NA
12 Other    NA                  NA                  NA
   UrbanRural8FoldCode LinkPostcode LinkedSmallUserPostcode SIMD2020Rank
1  1                   NA           NA                      0903
2  1                   NA           NA                      1059
3  1                   NA           NA                      2471
4  2                   NA           NA                      2604
5  6                   NA           NA                      3807
6  2                   NA           NA                      3330
7  2                   NA           G71 5PD                 4374
8  6                   NA           NA                      5226
9  2                   NA           NA                      5649
10 3                   NA           NA                      5770
11 NA                  NA           NA                      NA
12 NA                  NA           NA                      NA
   SIMD2020RelativeRank SIMD2020Quintile
1  115                   1
2  132                   1
3  320                   2
4  347                   2
5  493                   3
6  438                   3
7  570                   4
8  695                   4
9  742                   5
10 757                   5
11  NA                  NA
12  NA                  NA

#### END &ndash; SIMD Ranking

### Write to DataStore

In [75]:
dbGetQuery(dbConn, "SELECT COUNT(*) FROM centre_postcodes")
dbGetQuery(dbConn, "SELECT * FROM centre_postcodes LIMIT 6")

centre_postcodes %>%
    select(- matches("Link")) %>%

    left_join(sg_2_fold_urban_rural_classification %>%
                              select(- Description)) %>%
    left_join(sg_3_fold_urban_rural_classification %>%
                              select(- Description)) %>%
    left_join(sg_6_fold_urban_rural_classification %>%
                              select(- Description)) %>%
    left_join(sg_8_fold_urban_rural_classification %>%
                              select(- Description)) %>%
                              
    relocate(UrbanRural2FoldCode, UrbanRural2FoldClassification,
             UrbanRural3FoldCode, UrbanRural3FoldClassification,
             UrbanRural6FoldCode, UrbanRural6FoldClassification,
             UrbanRural8FoldCode, UrbanRural8FoldClassification, .before = SIMD2020Rank) %>%
    glimpse()

  COUNT(*)
1 1002

  Centre  CentreName                         Postcode
1 1000144 Firpark Secondary School           ML1 2PR
2 1001930 Buchanan High School               ML5 2HT
3 1002732 Cumbernauld Academy                G67 2UF
4 1002759 Ayrshire College Kilwinning Campus KA13 6DE
5 1002856 Dundee and Angus College           DD3 8LE
6 1002953 Edinburgh College                  EH11 4DE
  EducationAuthority                             GeoArea           Country
1 North Lanarkshire Council Education Department North Lanarkshire Scotland
2 North Lanarkshire Council Education Department North Lanarkshire Scotland
3 North Lanarkshire Council Education Department North Lanarkshire Scotland
4 NA                                             North Ayrshire    Scotland
5 NA                                             Dundee City       Scotland
6 NA                                             City of Edinburgh Scotland

Joining, by = "UrbanRural2FoldCode"
Joining, by = "UrbanRural3FoldCode"
Joining, by = "UrbanRural6FoldCode"
Joining, by = "UrbanRural8FoldCode"

Rows: 1,002
Columns: 17
$ Centre                        <fct> 1000144, 1001930, 1002732, 1002759, 1002…
$ CentreName                    <fct> "Firpark Secondary School", "Buchanan Hi…
$ Postcode                      <chr> "ML1 2PR", "ML5 2HT", "G67 2UF", "KA13 6…
$ EducationAuthority            <fct> North Lanarkshire Council Education Depa…
$ GeoArea                       <fct> North Lanarkshire, North Lanarkshire, No…
$ Country                       <fct> Scotland, Scotland, Scotland, Scotland, …
$ UrbanRural2FoldCode           <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1…
$ UrbanRural2FoldClassification <fct> Urban Areas, Urban Areas, Urban Areas, U…
$ UrbanRural3FoldCode           <fct> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1…
$ UrbanRural3FoldClassification <fct> Rest of Scotland, Rest of Scotland, Rest…
$ UrbanRural6FoldCode           <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 5, 2, 1…
$ UrbanRural6FoldClassification <fct> Other Urban Areas, Other Urban Areas, Ot…
$ UrbanRural8FoldCode           <fct> 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 6, 2, 1…
$ UrbanRural8FoldClassification <fct> Other Urban Areas, Other Urban Areas, Ot…
$ SIMD2020Rank                  <chr> "6660", "0860", "1738", "0499", "6028", …
$ SIMD2020RelativeRank          <int> 846, 110, 213, 60, 786, 332, 316, 61, 15…
$ SIMD2020Quintile              <int> 5, 1, 2, 1, 5, 2, 2, 1, 1, 1, 1, 4, 1, 2…

In [78]:
writeToDataStore(centre_postcodes %>%
                    select(- matches("Link")) %>%

                    left_join(sg_2_fold_urban_rural_classification %>%
                                              select(- Description)) %>%
                    left_join(sg_3_fold_urban_rural_classification %>%
                                              select(- Description)) %>%
                    left_join(sg_6_fold_urban_rural_classification %>%
                                              select(- Description)) %>%
                    left_join(sg_8_fold_urban_rural_classification %>%
                                              select(- Description)) %>%

                    relocate(UrbanRural2FoldCode, UrbanRural2FoldClassification,
                             UrbanRural3FoldCode, UrbanRural3FoldClassification,
                             UrbanRural6FoldCode, UrbanRural6FoldClassification,
                             UrbanRural8FoldCode, UrbanRural8FoldClassification, .before = SIMD2020Rank), 
                 dbConn, "centre_postcodes", TRUE)
                 
dbGetQuery(dbConn, "SELECT COUNT(*) FROM centre_postcodes")
dbGetQuery(dbConn, "SELECT DISTINCT GeoArea FROM centre_postcodes")

Joining, by = "UrbanRural2FoldCode"
Joining, by = "UrbanRural3FoldCode"
Joining, by = "UrbanRural6FoldCode"
Joining, by = "UrbanRural8FoldCode"

  COUNT(*)
1 1002

   GeoArea
1  North Lanarkshire
2  North Ayrshire
3  Dundee City
4  City of Edinburgh
5  South Lanarkshire
6  Renfrewshire
7  Glasgow City
8  Fife
9  West Lothian
10 South Ayrshire
11 Aberdeen City
12 Inverclyde
13 East Ayrshire
14 Perth & Kinross
15 Clackmannanshire
16 Highland
17 Argyll & Bute
18 West Dunbartonshire
19 Dumfries & Galloway
20 Scottish Borders
21 Middle East
22 Aberdeenshire
23 Moray
24 Far East
25 East Lothian
26 Angus
27 Wales
28 Stirling
29 England
30 East Dunbartonshire
31 Falkirk
32 Midlothian
33 Other
34 South Asia
35 East Renfrewshire
36 Na h-Eileanan Siar
37 Shetland Islands
38 Orkney Islands

In [ ]:
dbDisconnect(dbConn)